<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Tutorial</h4>
    <a class="btn-close" aria-label="Close" routerLink="../.."></a>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label" for="selector">Selector</label>
      <input type="text" readonly class="form-control" id="selector" [ngModel]="selector" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="step.title" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" id="description" rows=4 [(ngModel)]="step.description"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label" for="triggers">Triggers</label>
      @for (trigger of TRIGGERS; track trigger) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="trigger-{{trigger}}"
            [checked]="step.listen?.includes(trigger)"
            (change)="setListen(trigger, $event.target.checked)"
          />
          <label class="form-check-label" for="trigger-{{trigger}}">{{ trigger }}</label>
        </div>
      }
      <div class="form-text">
        Which events on the target element should trigger the next step.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="route">Route</label>
      <input type="text" class="form-control" id="route" [(ngModel)]="step.route" />
      <div class="form-text">
        Optional page to navigate to when the step is activated.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="next">Next</label>
      <input type="text" class="form-control" id="next" [(ngModel)]="step.next" />
      <div class="form-text">
        The selector for the next step in the tutorial.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="next">Skip</label>
      <input type="text" class="form-control" id="skip" [(ngModel)]="step.skip" />
      <div class="form-text">
        If set, adds a "Skip" button that will jump to the tutorial for the given selector.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" routerLink="..">Cancel</a>
    <a class="btn btn-primary" routerLink=".." (click)="save()">Save</a>
  </div>
</ng-template>
