<div class="row my-2">
  <div class="col" style="padding-left: 0;">
    <div class="form-group">
      <span>Photo Type</span>
      <select [(ngModel)]="photoType" (change)="changePhotoType()" class="form-select">
        <option value="All">All</option>
        <option value="Audit">Audit</option>
        <option value="Zone">Zone</option>
      </select>
    </div>
  </div>
  @if (photoType === 'All') {
    <div class="col">
      <span>Equipment</span>
      <select [(ngModel)]="equipment" (change)="updatePhotosFilter()" class="form-select">
        @for (item of equipmentList; track item) {
          <option [value]="item.id">{{ item.equipmentName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (photoType === 'Zone') {
    <div class="col">
      <span>Zone</span>
      <select [(ngModel)]="zone" (change)="changeZone()" class="form-select">
        @for (item of zoneList; track item) {
          <option [value]="item.zoneId">{{ item.zoneName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (zone) {
    <div class="col">
      <span>Equipment</span>
      <select [(ngModel)]="equipment" (change)="changeEquipment()" class="form-select">
        @for (item of equipmentList; track item) {
          <option [value]="item.id">{{ item.equipmentName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (zone && equipment) {
    <div class="col">
      <span>Type</span>
      <select [(ngModel)]="subType" (change)="changeSubType()" class="form-select">
        @for (item of subTypeList; track item) {
          <option [value]="item.id">{{ (item.name | uppercase) + ' - ' + (item.type?.name | uppercase) }}</option>
        }
      </select>
    </div>
  }
</div>
<div class="row">
  @for (item of data; track item) {
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 image-box p-0">
      <img [src]="item.photo" class="img-fluid">
      <div class="overlay">
        {{
          item.equipmentId ?
            (item.auditName.auditName + ' / ' + item.zoneName.zoneName + ' / ' + item.equipmentName.equipmentName + ' / ' + item.typeName.name + ' / ' + item.subTypeName.name | uppercase)
            :
            item.zoneId ?
              (item.auditName.auditName + ' / ' + item.zoneName.zoneName | uppercase)
              :
              (item.auditName.auditName | uppercase)
        }}
      </div>
    </div>
  }

  <mat-paginator [length]="dataForLength.length" [pageSize]="size" [pageIndex]="page" [pageSizeOptions]="[4, 8, 16, 32]"
                 (page)="getData($event)">
  </mat-paginator>
</div>
