<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-camera-reels px-3">
      Photos
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-link bi-three-dots" id="dropdown-grants" ngbDropdownToggle>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-grants">
        <div class="dropdown-item-text">
          No actions available.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <span>Photo Type</span>
      <select [(ngModel)]="photoType" (change)="changePhotoType()" class="form-select">
        <option value="All">All</option>
        <option value="Audit">Audit</option>
        <option value="Zone">Zone</option>
      </select>
    </div>
  </div>
  @if (photoType === 'All') {
    <div class="col">
      <span>Equipment</span>
      <select [(ngModel)]="equipment" (change)="changeEquipmentAll()" class="form-select">
        @for (item of equipmentList; track item) {
          <option [value]="item.id">{{ item.equipmentName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (photoType === 'Zone') {
    <div class="col">
      <span>Zone</span>
      <select [(ngModel)]="zone" (change)="changeZone()" class="form-select">
        @for (item of zoneList; track item) {
          <option [value]="item.zoneId">{{ item.zoneName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (zone) {
    <div class="col">
      <span>Equipment</span>
      <select [(ngModel)]="equipment" (change)="changeEquipment()" class="form-select">
        @for (item of equipmentList; track item) {
          <option [value]="item.id">{{ item.equipmentName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (zone && equipment) {
    <div class="col">
      <span>Type</span>
      <select [(ngModel)]="subType" (change)="changeSubType()" class="form-select">
        @for (item of subTypeList; track item) {
          <option [value]="item.id">{{ (item.name | uppercase) + ' - ' + (item.type.name | uppercase) }}</option>
        }
      </select>
    </div>
  }
</div>
<div class="row">
  @for (item of photos; track item) {
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 image-box p-0">
      <img [src]="item.photo" class="img-fluid">
      <div class="overlay">
        {{
          item.equipmentId ?
            (item.auditName.auditName + ' / ' + item.zoneName?.zoneName + ' / ' + item.equipmentName?.equipmentName + ' / ' + item.typeName?.name + ' / ' + item.subTypeName?.name | uppercase)
            :
            item.zoneId ?
              (item.auditName.auditName + ' / ' + item.zoneName?.zoneName | uppercase)
              :
              (item.auditName.auditName | uppercase)
        }}
        <button class="btn btn-link bi-trash" ngbTooltip="Delete" (click)="deletePhoto(item.id)"></button>
      </div>
    </div>
  }

  <mat-paginator [length]="totalCount" [pageSize]="size" [pageIndex]="page" [pageSizeOptions]="[2, 10, 25, 50, 100]"
                 (page)="page = $event.pageIndex; size = $event.pageSize; getPhotos()">
  </mat-paginator>
</div>
