<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-camera-reels px-3">
      Photos
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-link bi-three-dots" id="dropdown-grants" ngbDropdownToggle>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-grants">
        <div class="dropdown-item-text">
          No actions available.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  @if (!route.snapshot.params.zid) {
    <div class="col">
      <span>Zone</span>
      <select [(ngModel)]="query.zoneId" (ngModelChange)="changeZone($event)" class="form-select">
        <option value="">All</option>
        @for (item of zoneList; track item.zoneId) {
          <option [value]="item.zoneId">{{ item.zoneName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (query.zoneId) {
    <div class="col">
      <span>Equipment</span>
      <select [(ngModel)]="query.equipmentId" (ngModelChange)="changeEquipment($event)" class="form-select">
        <option value="">All</option>
        <option [value]="0">None (Zone only)</option>
        @for (item of equipmentList; track item.id) {
          <option [value]="item.id">{{ item.equipmentName | uppercase }}</option>
        }
      </select>
    </div>
  }
  @if (query.zoneId && query.equipmentId) {
    <div class="col">
      <span>Type</span>
      <select [(ngModel)]="query.typeId" (ngModelChange)="changeSubType($event)" class="form-select">
        <option value="">All</option>
        @for (item of subTypeList; track item.id) {
          <option [value]="item.id">{{ (item.name | uppercase) + ' - ' + (item.type.name | uppercase) }}</option>
        }
      </select>
    </div>
  }
</div>
<div class="row g-0">
  @for (item of photos; track item.id) {
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 image-box">
      @let text = item.equipmentId
        ? (item.audit?.auditName + ' / ' + item.zone?.zoneName + ' / ' + item.equipment?.equipmentName + ' / ' + item.type?.name + ' / ' + item.subType?.name | uppercase)
        : item.zoneId
          ? (item.audit?.auditName + ' / ' + item.zone?.zoneName | uppercase)
          : (item.audit?.auditName | uppercase);
      <img [src]="item.photo" class="img-fluid" [alt]="text">
      <div class="overlay">
        {{ text }}
        <button class="btn btn-link bi-trash" ngbTooltip="Delete" (click)="deletePhoto(item.id)"></button>
      </div>
    </div>
  }
</div>
<div class="row align-items-center">
  <ngb-pagination
    class="col-auto"
    [(page)]="query.pageNo" (pageChange)="updateQuery({pageNo: $event})"
    [pageSize]="query.size"
    [collectionSize]="totalCount"
  />
  <label class="col-auto" for="page-size">
    Per Page:
  </label>
  <div class="col-auto">
    <select class="form-select" id="page-size" [(ngModel)]="query.size" (ngModelChange)="updateQuery({size: $event})">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>
  <div class="col-auto text-muted">
    Showing {{ ((query.pageNo - 1) * query.size) + 1 }} to {{ ((query.pageNo - 1) * query.size) + photos.length }} of {{ totalCount }} entries
  </div>
</div>
