<div class="container">
  <h1 class="text-center">
    Select Schema
  </h1>
  <h3>
    General
  </h3>
  <div class="list-group mb-3">
    <a class="list-group-item list-group-item-action" routerLink="preaudit/0">
      <h5 [class]="icons.preAudit">
        Pre-Audit
      </h5>
      Basic information about the audit.
    </a>
    <a class="list-group-item list-group-item-action" routerLink="ceh/0">
      <h5 [class]="icons.ceh">
        Clean Energy Hub
      </h5>
      CEH information.
    </a>
    <a class="list-group-item list-group-item-action" routerLink="grants/0">
      <h5 [class]="icons.grants">
        Grants
      </h5>
      Grant information.
    </a>
    <a class="list-group-item list-group-item-action" routerLink="zone/0">
      <h5 [class]="icons.zone">
        Zone
      </h5>
      Common information about individual zones.
    </a>
  </div>
  <h3>
    Equipment
  </h3>
  <div class="list-group">
    @for (category of categories; track category.id) {
      @let equipments = equipmentTypes[category.id] ?? [];
      @if (equipments.length === 1) {
        <a class="list-group-item list-group-item-action" [routerLink]="['equipment', equipments[0].id]">
          <h5>
            {{ category.equipmentName }}
          </h5>
          <button class="btn btn-sm btn-outline-secondary bi-plus-lg" (click)="$event.preventDefault(); $event.stopImmediatePropagation(); addSubType(category)">
            Add Subtype
          </button>
        </a>
      } @else {
        <div class="list-group-item">
          <h5>
            {{ category.equipmentName }}
          </h5>
          <details>
            <summary class="text-muted">
              {{ equipments.length }} Subtypes
            </summary>
            <ul>
              @for (equipmentType of equipments; track equipmentType.id) {
                <li>
                  <a [routerLink]="['equipment', equipmentType.id]">{{ equipmentType.name }}</a>
                  <button
                    class="btn m-0 p-0 btn-link text-secondary bi-copy ms-2"
                    ngbTooltip="Duplicate Subtype"
                    aria-label="Duplicate Subtype"
                    (click)="duplicateSubType(equipmentType)"
                  ></button>
                  <button
                    class="btn m-0 p-0 btn-link text-danger bi-trash ms-2"
                    ngbTooltip="Delete Subtype"
                    aria-label="Delete Subtype"
                    (click)="deleteSubType(equipmentType)"
                  ></button>
                </li>
              }
            </ul>
            <button class="btn btn-outline-secondary btn-sm bi-plus-lg" (click)="addSubType(category)">
              Add Subtype
            </button>
          </details>
        </div>
      }
    }
  </div>
</div>
