<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink="../.."></a>
    <div class="bi-device-ssd px-3">
      @if (equipment) {
        {{ equipment.type.name | titlecase }}
      } @else {
        <span class="rounded placeholder placeholder-glow">Loading...</span>
      }
    </div>
    <app-equipment-options-dropdown [equipment]="equipment"></app-equipment-options-dropdown>
  </div>
  <div class="p-3">
    <h1>
      @if (equipment) {
        {{ equipment.name | titlecase }}
      } @else {
        <span class="rounded placeholder placeholder-glow">Loading...</span>
      }
    </h1>
    <div class="d-flex align-items-center">
      <div class="me-3 flex-grow-1">
        <app-progress-bar [progress]="progress"></app-progress-bar>
      </div>
      <a class="btn btn-sm btn-outline-light rounded-pill bi-image" routerLink="photos">
        Images
      </a>
    </div>
  </div>
</div>
<div class="container">
  @if (typeSchema && formData) {
    <app-form
      #form
      [typeSchema]="typeSchema"
      [formData]="formData"
      [formId]="'audits/' + auditId + '/subtypes/' + equipmentId"
      (saved)="save()"
    ></app-form>
  } @else {
    <app-list-placeholder></app-list-placeholder>
  }
  <app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>
</div>
<router-outlet></router-outlet>
