<a routerLink="new" class="btn btn-outline-secondary bi-plus mb-3 w-100">
  Add {{ equipment?.equipmentName }}
</a>
<div class="list-group rounded-0">
  @for (item of subtypes; track item) {
    <app-feature-card
      [title]="item.name | titlecase"
      [subtitle]="item.typeChild?.name ?? item.type?.name"
      [routerLink]="['types', item.id]"
      [percentageQuery]="{percentageType: 'form', subTypeId: item.id}"
    >
      <app-option-dropdown options style="z-index: 900">
        <button ngbDropdownItem class="bi-pencil-square" (click)="rename(item)">
          Rename
        </button>
        <ng-container>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="bi-trash text-danger" (click)="delete(item)">Delete</button>
        </ng-container>
      </app-option-dropdown>
    </app-feature-card>
  }
</div>
