<ng-template #options>
  <div ngbDropdown class="d-inline-block" display="dynamic">
    <button type="button" class="btn btn-link bi-three-dots" id="dropdown-preaudit" ngbDropdownToggle>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown-preaudit">
      <a ngbDropdownItem class="bi-clipboard-check" routerLink="report" [queryParams]="{type: 'feasibility'}">
        Download Feasibility Report
      </a>
      <a ngbDropdownItem class="bi-grid-3x3" routerLink="report" [queryParams]="{type: 'cehMicrogridSheet'}">
        Download Microgrid Sheet
      </a>
      <a ngbDropdownItem class="bi-percent" routerLink="report" [queryParams]="{type: 'cdh10per'}">>
        Download 10% Design Prep
      </a>
    </div>
  </div>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <h1>
    Clean Energy Hub
  </h1>
  <app-progress-bar [progress]="progress"></app-progress-bar>
</div>
<div class="container">
  @if (typeSchema && formData) {
    <app-form
      #form
      [typeSchema]="typeSchema"
      [formData]="formData"
      [formId]="'audits/' + auditId + '/cleanenergyhub'"
      (saved)="save()"
    ></app-form>
  } @else {
    <app-list-placeholder></app-list-placeholder>
  }
</div>
<router-outlet></router-outlet>
