<ng-template #options>
  <div ngbDropdown class="d-inline-block" display="dynamic">
    <button type="button" class="btn btn-link bi-three-dots" id="dropdown-preaudit" ngbDropdownToggle>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown-preaudit">
      <button ngbDropdownItem class="bi-clipboard-check" (click)="generateReport('feasibility')">
        Generate Feasibility Report
      </button>
      <button ngbDropdownItem class="bi-grid-3x3" (click)="generateReport('microgrid')">
        Generate Microgrid Sheet
      </button>
      <button ngbDropdownItem class="bi-percent" (click)="generateReport('10_per_design_prep')">
        Generate 10% Design Prep
      </button>
    </div>
  </div>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <h1>
    Clean Energy Hub
  </h1>
  <app-progress-bar [progress]="progress"/>
</div>
<div class="container">
  @if (typeSchema && formData) {
    <app-form
      #form
      [typeSchema]="typeSchema"
      [formData]="formData"
      [formId]="'audits/' + auditId + '/cleanenergyhub'"
      (saved)="save()"
    />
  } @else {
    <app-list-placeholder/>
  }
</div>
<router-outlet/>
