<a routerLink="new" class="btn btn-outline-secondary bi-plus mb-3 w-100">
  Add {{ category?.equipmentName }}
</a>
<div class="list-group rounded-0">
  @for (item of equipments; track item) {
    <app-feature-card
      [title]="item.name | titlecase"
      [subtitle]="item.type.name"
      [routerLink]="['types', item.id]"
      [percentageQuery]="{progressType: 'equipmentForm', auditId: item.auditId, zoneId: item.zoneId, subTypeId: item.id}"
    >
      <div options style="z-index: 900" (click)="$event.stopImmediatePropagation(); $event.preventDefault()">
        <app-equipment-options-dropdown [equipment]="item">
          <button ngbDropdownItem class="bi-copy" (click)="duplicate(item)">
            Duplicate
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="bi-trash text-danger" (click)="delete(item)">
            Delete
          </button>
        </app-equipment-options-dropdown>
      </div>
    </app-feature-card>
  }
</div>
