<a routerLink="new" class="btn btn-outline-secondary bi-plus mb-3 w-100">
  Add {{ equipment?.equipmentName }}
</a>
<div class="list-group rounded-0">
  @for (item of subtypes; track item) {
    <app-feature-card
      [title]="item.name | titlecase"
      [subtitle]="item.type.name"
      [routerLink]="['types', item.id]"
      [percentageQuery]="{percentageType: 'equipmentForm', auditId: item.auditId, zoneId: item.zoneId, subTypeId: item.id}"
    >
      <app-option-dropdown options style="z-index: 900">
        @if (item.type.name === 'HVAC') {
          <h5 class="dropdown-header">
            HVAC Specific
          </h5>
          <a ngbDropdownItem class="bi-link-45deg" [routerLink]="['types', item.id, 'connect']">
            Connect Zone
          </a>
          <div class="dropdown-divider"></div>
        }
        <button ngbDropdownItem class="bi-pencil-square" (click)="rename(item)">
          Rename
        </button>
        <button ngbDropdownItem class="bi-copy" (click)="duplicate(item)">
          Duplicate
        </button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem class="bi-trash text-danger" (click)="delete(item)">
          Delete
        </button>
      </app-option-dropdown>
    </app-feature-card>
  }
</div>
