<input
  type="search"
  class="form-control mb-3"
  [placeholder]="'Search ' + (equipments?.length ?? 0) + ' ' + category?.equipmentName"
  [(ngModel)]="search"
/>
<a routerLink="new" class="btn btn-outline-secondary bi-plus mb-3 w-100">
  Add {{ category?.equipmentName }}
</a>
@if (equipments) {
  @for (item of equipments | search:search:['name']; track item.id) {
    <app-feature-card
      [title]="item.name | titlecase"
      [subtitle]="item.type.name"
      [routerLink]="['types', item.id]"
      routerLinkActive="active"
      [percentageQuery]="{progressType: 'equipmentForm', auditId: item.auditId, zoneId: item.zoneId, subTypeId: item.id}"
    >
      <div options style="z-index: 900">
        <app-equipment-options-dropdown [equipment]="item" (click)="$event.stopImmediatePropagation(); $event.preventDefault()">
          <button ngbDropdownItem class="bi-copy" (click)="duplicate(item)">
            Duplicate
          </button>
          <a ngbDropdownItem class="bi-copy" [routerLink]="['types', item.id, 'duplicate']">
            Duplicate to...
          </a>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="bi-trash text-danger" (click)="delete(item)">
            Delete
          </button>
        </app-equipment-options-dropdown>
      </div>
    </app-feature-card>
  } @empty {
    <div class="text-center">
      No {{ category?.equipmentName }} yet.
    </div>
  }
} @else {
  <app-list-placeholder></app-list-placeholder>
}
