@if (element.isHeading) {
  <h2 class="mb-3">
    {{ element.heading }}
  </h2>
}
@if (element.type !== 'checkbox') {
  <label [for]="id" class="form-label">
    {{ element.title }}
    @if (element.required) {
      <span class="text-danger" ngbTooltip="Required">*</span>
    }
  </label>
}
@switch (element.type) {
  @case ("select") {
    <select
      class="form-select"
      [id]="id"
      [(ngModel)]="formData.data[element.key]"
      (change)="changeDropDown(element)"
      [attr.aria-describedby]="id + '-help'"
      [disabled]="!!element.disabled"
    >
      @for (entry of (element.values ?? []) | formChoices; track entry) {
        <option [value]="entry">
          {{ entry }}
        </option>
      }
    </select>
  }
  @case ("textArea") {
    <textarea
      class="form-control"
      [id]="id"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="id + '-help'"
      [disabled]="!!element.disabled"
      [placeholder]="element.defaultValue ?? ''"
    ></textarea>
  }
  @case ("checkbox") {
    <div class="form-check">
      <input
        type=checkbox
        class="form-check-input"
        [id]="id"
        [(ngModel)]="formData.data[element.key]"
        (change)="setDirty()"
        [attr.aria-describedby]="id + '-help'"
        [disabled]="!!element.disabled"
      >
      <label class="form-check-label" [for]="id">
        {{ element.title }}
      </label>
    </div>
  }
  @case ("date") {
    <input
      type="date"
      class="form-control"
      [id]="id"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="id + '-help'"
      [disabled]="!!element.disabled"
      [placeholder]="element.defaultValue ?? ''"
    >
  }
  @default {
    <input
      [type]="element.dataType"
      class="form-control"
      [id]="id"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="id + '-help'"
      [disabled]="!!element.disabled"
      [placeholder]="element.defaultValue ?? ''"
    >
  }
}
<ul class="form-text">
  @for (error of validationMessages; track error) {
    <li [class]="error.level === 'warning' ? 'text-warning' : 'text-danger'">
      {{ error.message }}
    </li>
  }
</ul>
<div [id]="id + '-help'" class="form-text">
  {{ element.hint }}
</div>
@if (element.inputList?.length) {
  <div class="mt-3 mx-2">
    @for (element1 of element.inputList; track element1.key) {
      @if (!element1.dependentKeyValue && formData.data[element.key] || (isArray(element1.dependentKeyValue) ? element1.dependentKeyValue.includes(formData.data[element.key]) : element1.dependentKeyValue === formData.data[element.key])) {
        <app-form-element [element]="element1" [schema]="schema" [formId]="formId" [formData]="formData" (dirty)="setDirty()"></app-form-element>
      }
    }
  </div>
}
