<h1>
  <a class="bi-chevron-left d-lg-none" routerLink="./../.."></a>
  {{ zone?.zoneName | titlecase }}
</h1>

<div class="input-group w-auto">
  <label class="input-group-text bi-camera" for="image">
    Capture Photo:
  </label>
  <input #fileInput type="file" class="form-control" id="image" accept="image/*">
  <button class="btn btn-outline-primary" (click)="uploadPhoto(fileInput.files)">Upload</button>
</div>

<div class="mb-3">
  {{ auditService.equipmentHeadingValue }} Progress: {{ auditService.completedFields }} / {{ auditService.totalFields }}
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style]="'width: '+auditService.progressPercentage">
      {{ auditService.progressPercentage }}
    </div>
  </div>
</div>

<ul ngbNav [activeId]="equipmentService.equipment.id" class="nav-tabs">
  <li ngbNavItem="">
    <a ngbNavLink routerLink="." (click)="getZonePercentage()">
      Zone Details
    </a>
  </li>
  <li [ngbNavItem]="item.id" *ngFor="let item of equipmentService.equipments">
    <a ngbNavLink [routerLink]="['equipments', item.id]" (click)="route.firstChild?.snapshot?.params?.eid !== item.id ? getEquipmentPercentage(item) : null">
      {{ item.equipmentName | titlecase }}
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
