<h1>
  <a class="bi-chevron-left d-lg-none" routerLink="./../.."></a>
  {{ zone?.zoneName | titlecase }}
</h1>

<app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>

@if (auditService.currentProgress) {
  <app-progress-bar class="mb-3" [label]="auditService.equipmentHeadingValue"
                    [progress]="auditService.currentProgress"></app-progress-bar>
}

<ul ngbNav [activeId]="equipmentService.equipment.id" class="nav-tabs">
  <li ngbNavItem="">
    <a ngbNavLink routerLink="." (click)="getZonePercentage()">
      Zone Details
    </a>
  </li>
  @for (item of equipmentService.equipments; track item) {
    <li [ngbNavItem]="item.id">
      <a ngbNavLink [routerLink]="['equipments', item.id]"
         (click)="route.firstChild?.snapshot?.params?.eid !== item.id ? getEquipmentPercentage(item) : null">
        {{ item.equipmentName | titlecase }}
      </a>
    </li>
  }
</ul>

<router-outlet></router-outlet>
