<h1>
  <a class="bi-chevron-left d-lg-none" routerLink="./../.."></a>
  {{ zone?.zoneName | titlecase }}
</h1>

<app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>

<div class="mb-3">
  {{ auditService.equipmentHeadingValue }} Progress: {{ auditService.completedFields }} / {{ auditService.totalFields }}
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style]="'width: '+auditService.progressPercentage">
      {{ auditService.progressPercentage }}
    </div>
  </div>
</div>

<ul ngbNav [activeId]="equipmentService.equipment.id" class="nav-tabs">
  <li ngbNavItem="">
    <a ngbNavLink routerLink="." (click)="getZonePercentage()">
      Zone Details
    </a>
  </li>
  <li [ngbNavItem]="item.id" *ngFor="let item of equipmentService.equipments">
    <a ngbNavLink [routerLink]="['equipments', item.id]" (click)="route.firstChild?.snapshot?.params?.eid !== item.id ? getEquipmentPercentage(item) : null">
      {{ item.equipmentName | titlecase }}
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
