<ng-template #options>
  <app-audit-options-dropdown [audit]="audit"></app-audit-options-dropdown>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <h1>
    @if (audit) {
      {{ audit.auditName | titlecase }}
    } @else {
      <span class="rounded placeholder placeholder-glow">Loading...</span>
    }
  </h1>
  <div class="d-flex align-items-center">
    <div class="me-3 flex-grow-1">
      <app-progress-bar [progress]="auditService.currentProgress"></app-progress-bar>
    </div>
    <a class="btn btn-sm btn-outline-light rounded-pill bi-image" routerLink="photos">
      Images
    </a>
  </div>
</div>
<div class="container">
  <app-feature-card
    [icon]="icons.preAudit"
    title="Pre-Audit"
    routerLink="preaudit"
    [percentageQuery]="{progressType: 'preAudit', auditId: route.snapshot.params.aid}"
  ></app-feature-card>
  @if (audit?.grantStatus) {
    <app-feature-card
      [icon]="icons.grants"
      title="Grants"
      routerLink="grants"
      [percentageQuery]="{progressType: 'grants', auditId: route.snapshot.params.aid}"
    ></app-feature-card>
  }
  @if (audit?.cehStatus) {
    <app-feature-card
      [icon]="icons.ceh"
      title="Clean Energy Hub"
      routerLink="cleanenergyhub"
      [percentageQuery]="{progressType: 'ceh', auditId: route.snapshot.params.aid}"
    ></app-feature-card>
  }
  <app-feature-card
    [icon]="icons.zone"
    title="Zones"
    routerLink="zones"
    [percentageQuery]="{progressType: 'zone', auditId: route.snapshot.params.aid}"
  ></app-feature-card>
  <app-feature-card
    title="Overview"
    routerLink="overview"
  ></app-feature-card>
  <router-outlet></router-outlet>
</div>
