<ng-template #options>
  <app-audit-options-dropdown [audit]="audit"/>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <div class="d-md-flex align-items-center">
    <h1 class="flex-grow-1">
      @if (audit) {
        {{ audit.auditName | titlecase }}
      } @else {
        <span class="rounded placeholder placeholder-glow">Loading...</span>
      }
    </h1>
    <div>
      <a class="btn btn-sm btn-outline-light rounded-pill bi-binoculars ms-2" routerLink="overview">
        Overview
      </a>
      @if (authService.currentLoginUser?.role?.role !== 'guest') {
        <a class="btn btn-sm btn-outline-light rounded-pill bi-people ms-2" routerLink="data-collectors">
          Data Collectors
        </a>
      }
      <a class="btn btn-sm btn-outline-light rounded-pill bi-image ms-2" routerLink="photos">
        Images
      </a>
    </div>
  </div>
  <app-progress-bar [progress]="auditService.currentProgress"/>
</div>
<div class="container">
  @if (audit?.audit_summarized_data?.data; as summary) {
    @if (summary.GHG_emissions_savings || summary.kBTU_per_year_savings || summary.cost_per_year_savings) {
      <app-saving-stats
        class="mb-3"
        [ghgSavings]="summary.GHG_emissions_savings"
        [energySavings]="summary.kBTU_per_year_savings"
        [costSavings]="summary.cost_per_year_savings"
      />
    }
  }
  <app-feature-card
    [icon]="icons.preAudit"
    title="Pre-Audit"
    routerLink="preaudit"
    [percentageQuery]="{progressType: 'preAudit', auditId: route.snapshot.params.aid}"
  />
  @if (audit?.grantStatus) {
    <app-feature-card
      [icon]="icons.grants"
      title="Grants"
      routerLink="grants"
      [percentageQuery]="{progressType: 'grants', auditId: route.snapshot.params.aid}"
    />
  }
  @if (audit?.cehStatus) {
    <app-feature-card
      [icon]="icons.ceh"
      title="Clean Energy Hub"
      routerLink="cleanenergyhub"
      [percentageQuery]="{progressType: 'ceh', auditId: route.snapshot.params.aid}"
    />
  }
  <app-feature-card
    [icon]="icons.zone"
    title="Zones"
    routerLink="zones"
    [percentageQuery]="{progressType: 'zone', auditId: route.snapshot.params.aid}"
  />
  <router-outlet/>
</div>
