<ng-template #options>
  <app-audit-options-dropdown [audit]="audit"></app-audit-options-dropdown>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <div class="d-md-flex align-items-center">
    <h1 class="flex-grow-1">
      @if (audit) {
        {{ audit.auditName | titlecase }}
      } @else {
        <span class="rounded placeholder placeholder-glow">Loading...</span>
      }
    </h1>
    <div>
      <a class="btn btn-sm btn-outline-light rounded-pill bi-binoculars ms-2" routerLink="overview">
        Overview
      </a>
      @if ((authService.currentLoginUser?.role?.role === 'admin' || authService.currentLoginUser?.role?.role === 'superAdmin') && audit?.user?.role?.role !== 'guest') {
        <a class="btn btn-sm btn-outline-light rounded-pill bi-people ms-2" routerLink="data-collectors">
          Data Collectors
        </a>
      }
      <a class="btn btn-sm btn-outline-light rounded-pill bi-image ms-2" routerLink="photos">
        Images
      </a>
    </div>
  </div>
  <app-progress-bar [progress]="auditService.currentProgress"></app-progress-bar>
</div>
<div class="container">
  <app-feature-card
    [icon]="icons.preAudit"
    title="Pre-Audit"
    routerLink="preaudit"
    [percentageQuery]="{progressType: 'preAudit', auditId: route.snapshot.params.aid}"
  ></app-feature-card>
  @if (audit?.grantStatus) {
    <app-feature-card
      [icon]="icons.grants"
      title="Grants"
      routerLink="grants"
      [percentageQuery]="{progressType: 'grants', auditId: route.snapshot.params.aid}"
    ></app-feature-card>
  }
  @if (audit?.cehStatus) {
    <app-feature-card
      [icon]="icons.ceh"
      title="Clean Energy Hub"
      routerLink="cleanenergyhub"
      [percentageQuery]="{progressType: 'ceh', auditId: route.snapshot.params.aid}"
    ></app-feature-card>
  }
  <app-feature-card
    [icon]="icons.zone"
    title="Zones"
    routerLink="zones"
    [percentageQuery]="{progressType: 'zone', auditId: route.snapshot.params.aid}"
  ></app-feature-card>
  <router-outlet></router-outlet>
</div>
