<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li ngbNavItem="preaudit">
      <a ngbNavLink>Preaudit</a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-form *ngIf="selectedAudit" type="preaudit" [data]="data" (dataChanged)="save($event)"></app-form>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="zone">
      <a ngbNavLink>Zone</a>
      <ng-template ngbNavContent>
        <app-zone-list [audit]="selectedAudit" routerLink="zones/"></app-zone-list>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
