<app-master-detail>
  <div header class="d-flex align-items-center justify-content-between bg-dark text-light">
    <a class="btn btn-link bi-chevron-left" routerLink="../.."></a>
    <div class="bi-device-ssd px-3">
      {{ equipment?.equipmentName }}
    </div>
    <div class="btn btn-link bi-three-dots disabled"></div>
  </div>
  <app-equipment-list list></app-equipment-list>
  <div default class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h2>
      Please select an equipment to continue.
    </h2>
    <h5>
      Or go back to the <a routerLink="../..">{{zone?.zoneName | titlecase}}</a> zone.
    </h5>
  </div>
</app-master-detail>
