<div *ngIf="!apiKey" class="alert alert-danger">
  CompanyCam API Key is not configured.
  Please create or use an
  <a href="https://app.companycam.com/access_tokens" target="_blank">access token</a>
  and enter it in
  <a routerLink="/settings" fragment="companyCamApiKeyInput">Settings</a>.
</div>
<div *ngIf="apiKey && !project" class="alert alert-warning">
  Could not find project on CompanyCam with the same name as the audit <b>{{ audit?.name }}</b>.
  Please check the spelling and wording and rename the audit, or
  <a href="https://app.companycam.com/projects/new">create a project</a>
  if not yet done.
</div>
<div *ngIf="project" class="mb-3">
  <a [href]="'ccam://camera/' + project.id | safe:'url'" class="btn btn-primary me-2" target="_blank">
    Capture Photo
  </a>
  <a [href]="'ccam://projects/' + project.id | safe:'url'" class="btn btn-secondary me-2" target="_blank">
    View in App
  </a>
  <a [href]="project.project_url" class="btn btn-secondary me-2" target="_blank">
    View in Browser
  </a>
</div>
<ul class="list-group">
  <li *ngFor="let photo of photos" class="list-group-item">
    <a [href]="photo.uris[1].url" target="_blank">
      <img [src]="photo.uris[1].url" [alt]="photo.id" height="128" class="float-end">
    </a>
    <h4>{{ photo.creator_name }}</h4>
    <div class="text-muted">
      {{ photo.captured_at * 1000 | date:'medium' }}
    </div>
    <a [href]="'ccam://photos/' + photo.id | safe:'url'">Open in App</a>
    <span class="text-muted">
      &bull;
    </span>
    <a [href]="photo.photo_url" target="_blank">Open in Browser</a>
  </li>
</ul>
