<ng-template #options>
  <app-zone-options-dropdown [zone]="zone"></app-zone-options-dropdown>
</ng-template>
<div class="bg-dark text-light mb-3 p-3">
  <h1>
    @if (zone) {
      {{ zone.zoneName | titlecase }}
    } @else {
      <span class="rounded placeholder placeholder-glow">Loading...</span>
    }
  </h1>
  <div class="d-flex align-items-center">
    <div class="me-3 flex-grow-1">
      <app-progress-bar [progress]="progress"></app-progress-bar>
    </div>
    <a class="btn btn-sm btn-outline-light rounded-pill bi-image" routerLink="photos">
      Images
    </a>
  </div>
</div>
<div class="container">
  <app-feature-card
    [icon]="icons.zoneDetails"
    title="Zone Details"
    routerLink="details"
    [percentageQuery]="{progressType: 'zoneDetails', auditId: route.snapshot.params.aid, zoneId: route.snapshot.params.zid}"
  ></app-feature-card>
  <hr/>
  @for (equipment of equipments; track equipment.id) {
    <app-feature-card
      [title]="equipment.equipmentName | titlecase"
      [routerLink]="['equipments', equipment.id]"
      [percentageQuery]="{progressType: 'equipment', auditId: route.snapshot.params.aid, zoneId: route.snapshot.params.zid, equipmentId: equipment.id}"
    ></app-feature-card>
  }
  <app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>
</div>
