<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-dice-4 px-3">
      Zone
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-link bi-three-dots" id="dropdown-audit" ngbDropdownToggle>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-audit">
        <button ngbDropdownItem class="bi-pencil-square" (click)="rename()">
          Rename
        </button>
      </div>
    </div>
  </div>
  <div class="p-3">
    <h1>
      {{ zone?.zoneName | titlecase }}
    </h1>
    <div class="d-flex align-items-center">
      <div class="me-3 flex-grow-1">
        @if (progress) {
          <app-progress-bar [progress]="progress"></app-progress-bar>
        }
      </div>
      <a class="btn btn-sm btn-outline-light rounded-pill bi-image" routerLink="photos">
        Images
      </a>
    </div>
  </div>
</div>
<div class="container">
  @let buildingTotalArea = audit?.pre_audit_form?.data?.['area_building_total_area'] === 'Yes';
  <app-feature-card
    title="Zone Details"
    [subtitle]="buildingTotalArea ? 'Not Required (Building Total Area in Pre Audit is enabled)' : undefined"
    routerLink="details"
    [percentageQuery]="buildingTotalArea ? undefined : {percentageType: 'zoneDetails', auditId: route.snapshot.params.aid, zoneId: route.snapshot.params.zid}"
  ></app-feature-card>
  <hr/>
  @for (equipment of equipments; track equipment) {
    <app-feature-card
      [title]="equipment.equipmentName | titlecase"
      [routerLink]="['equipments', equipment.id]"
      [percentageQuery]="{percentageType: 'equipment', auditId: route.snapshot.params.aid, zoneId: route.snapshot.params.zid, equipmentId: equipment.id}"
    ></app-feature-card>
  }
  <app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>
</div>
