<div class="container">
  <h1>
    <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
    {{ selectedAudit?.name }}
  </h1>

  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li ngbNavItem="preaudit">
      <a ngbNavLink>Preaudit</a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-form #form *ngIf="selectedAudit" type="preaudit" [data]="data" (saved)="save($event[0], $event[1])"></app-form>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="zone">
      <a ngbNavLink>Zone</a>
      <ng-template ngbNavContent>
        <app-zone-list [audit]="selectedAudit" routerPrefix="zones/"></app-zone-list>
      </ng-template>
    </li>
    <li ngbNavItem="access">
      <a ngbNavLink>Access Control</a>
      <ng-template ngbNavContent>
        <app-access-control [audit]="selectedAudit"></app-access-control>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
