<div class="container">
  <h1>
    <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
    {{ audit?.name }}
  </h1>

  <ul ngbNav #nav="ngbNav" [activeId]="route.firstChild?.routeConfig?.path ?? 'preaudit'" class="nav-tabs">
    <li ngbNavItem="preaudit">
      <a ngbNavLink routerLink=".">Preaudit</a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-form #form *ngIf="data && schema" [schema]="schema" [data]="data" (saved)="save($event)"></app-form>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="zones">
      <a ngbNavLink routerLink="zones">Zone</a>
    </li>
    <li ngbNavItem="photos">
      <a ngbNavLink routerLink="photos">Photos</a>
    </li>
    <li ngbNavItem="access">
      <a ngbNavLink routerLink="access">Access Control</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
