<div class="row g-0 h-100">
  <div class="col-lg-3 h-100 overflow-auto master" style="margin-bottom: 20px;" routerLinkActive="master-active"
    [routerLinkActiveOptions]="{exact: true}">
    <a class="d-none" routerLink="." aria-hidden="true"></a>
    <ng-content select="[header]"/>
    <div class="p-3">
      <ng-content select="[list]"/>
    </div>
  </div>
  <div class="col-lg-9 h-100 overflow-auto detail" [class.detail-active]="outlet.isActivated">
    <router-outlet #outlet="outlet" />
    @if (!outlet.isActivated) {
      <ng-content select="[default]"/>
    }
  </div>
</div>
