<div class="modal-header">
  <h4 class="modal-title">Add Data Collector ({{ audit.auditName | titlecase }})</h4>
  <button type="button" class="btn-close btn-close-white" (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body" style="height: 200px; overflow-y: scroll;">
  <ul>
    @for (item of dataCollectors; track item) {
      <li class="data-collector-item">
        <label>
          <input type="checkbox" [(ngModel)]="item.selected"/>
          {{ item.userName | titlecase }}
          <pre>{{ item.email }}</pre>
        </label>
      </li>
    }
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-primary" (click)="onOkClick()">Add</button>
</div>
