<ngbx-modal #modal [back]="['..']" [scrollable]="true">
  <ng-container modal-title>
    Add Data Collector
    <span class="text-muted">{{ audit?.auditName | titlecase }}</span>
  </ng-container>
  <ng-container modal-body>
    <ul class="list-unstyled">
      @for (item of dataCollectors; track item) {
        <li>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="data-collector-{{ item.id }}" [(ngModel)]="selected[item.id]"/>
            <label class="form-check-label" for="data-collector-{{ item.id }}">
              {{ item.userName | titlecase }}
              <pre>{{ item.email }}</pre>
            </label>
          </div>
        </li>
      }
    </ul>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onOkClick(); modal.close()">
      Save
    </button>
  </ng-container>
</ngbx-modal>
