<div>

  <div class="row">
    <h1>
      <a class="bi-chevron-left d-lg-none" routerLink=".  ."></a>
      {{ audit?.auditName | titlecase }}
    </h1>
  </div>
  <div class="d-flex mb-3">
    <a class="btn btn-primary me-2" routerLink="report">
      Generate Report
    </a>
    <div class="w-auto">
      <app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>
    </div>
  </div>
  @if (auditService.currentProgress) {
    <app-progress-bar class="mb-3" label="Audit" [progress]="auditService.currentProgress"></app-progress-bar>
  }
  <ul ngbNav [activeId]="route.firstChild?.routeConfig?.path ?? 'preaudit'" class="nav-tabs">
    <li ngbNavItem="preaudit">
      <a ngbNavLink routerLink=".">Preaudit</a>
    </li>
    <li ngbNavItem="zones">
      <a ngbNavLink routerLink="zones">Zone</a>
    </li>
    <li ngbNavItem="photos">
      <a ngbNavLink routerLink="photos">Photos</a>
    </li>
    <li ngbNavItem="grants">
      <a ngbNavLink routerLink="grants">Grants</a>
    </li>
    <li ngbNavItem="cleanenergyhub">
      <a ngbNavLink routerLink="cleanenergyhub">Clean Energy Hub</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
