<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-file-earmark-text px-3">
      Audit
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-link bi-three-dots" id="dropdown-audit" ngbDropdownToggle>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-audit">
        <a ngbDropdownItem class="bi-file-earmark-richtext" routerLink="report">
          Generate Report
        </a>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem class="bi-pencil-square" (click)="rename()">
          Rename
        </button>
      </div>
    </div>
  </div>
  <div class="p-3">
    <h1>
      {{ audit?.auditName | titlecase }}
    </h1>
    <div class="d-flex align-items-center">
      <div class="me-3 flex-grow-1">
        @if (auditService.currentProgress) {
          <app-progress-bar label="Audit" [progress]="auditService.currentProgress"></app-progress-bar>
        }
      </div>
      <a class="btn btn-sm btn-outline-light rounded-pill bi-image" routerLink="photos">
        Images
      </a>
    </div>
  </div>
</div>
<div class="container">
  <app-feature-card
    title="Pre-Audit"
    routerLink="preaudit"
    [percentageQuery]="{percentageType: 'preaudit', auditId: route.snapshot.params.aid}"
  ></app-feature-card>
  <app-feature-card title="Grants" routerLink="grants"></app-feature-card>
  <app-feature-card title="Clean Energy Hub" routerLink="cleanenergyhub"></app-feature-card>
  <app-feature-card title="Zones" routerLink="zones" [percentageQuery]="{percentageType: 'zone', auditId: route.snapshot.params.aid}"></app-feature-card>
  <app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>
</div>
