<ngbx-modal #modal [back]="['..']">
  <ng-container modal-title>
    Create Audit
  </ng-container>
  <ng-container modal-body>
    <div class="mb-3">
      <label for="name" class="form-label">
        Name
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" required>
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">
        State
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <input type="text" class="form-control" id="state" [(ngModel)]="state" required>
      <div class="form-text">
        US state abbreviation (e.g. CA, TX, NY) or other location.
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="active" [(ngModel)]="feasibilityStudy">
      <label class="form-check-label" for="active">
        Feasibility Study (Add Clean Energy Hub and Grants sections)
      </label>
      <div class="form-text">
        These features can also be added or removed after the audit is created.
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="create()" [disabled]="!name || !state">
      Create
    </button>
  </ng-container>
</ngbx-modal>
