<ngbx-modal #modal [back]="['..']">
  <ng-container modal-title>
    Create Audit
  </ng-container>
  <ng-container modal-body>
    <div class="mb-3">
      <label for="name" class="form-label">
        Name
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" required>
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">
        State
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <select class="form-select" id="state" [(ngModel)]="stateId">
        <option [value]="0">Select a state</option>
        @for (state of states; track state.id) {
          <option [value]="state.id">
            {{ state.state }}
          </option>
        }
      </select>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="feasibility-study" [(ngModel)]="feasibilityStudy">
      <label class="form-check-label" for="feasibility-study">
        Feasibility Study (Add Clean Energy Hub and Grants sections)
      </label>
      <div class="form-text">
        These features can also be added or removed after the audit is created.
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button id="create-audit" class="btn btn-primary" (click)="create()" [disabled]="!name || !stateId">
      Create
    </button>
  </ng-container>
</ngbx-modal>
