<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li *ngFor="let type of types"
        [ngbNavItem]="type.name">
      <a ngbNavLink>{{type.name}}</a>
      <ng-template ngbNavContent>
        <app-type-list [types]="groupedTypes[type.name]" [audit]="audit" [zone]="selectedZone" [type]="type"
                       [routerPrefix]="type.name + '/'"></app-type-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
