<div class="row no-gutters">
  <div class="col-3">
    <div class="p-3 bg-light">
      <h5><a [routerLink]="['/audits', audit?.auditId]">{{audit?.name}}</a> &gt; Zones</h5>
    </div>
    <div class="list-group rounded-0">
      <a *ngFor="let zone of zones"
         class="list-group-item list-group-item-action"
         [routerLink]="['/audits', audit.auditId, 'zones', zone.id]" routerLinkActive="active text-white"
      >
        {{zone.name}}
      </a>
    </div>
  </div>
  <div class="col-9">
    <h1 *ngIf="!selectedZone" class="text-center">
      Select or Create a Zone to begin
    </h1>
    <ng-container *ngIf="selectedZone">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
        <li *ngFor="let group of groupedTypes | keyvalue"
          [ngbNavItem]="group.key">
          <a ngbNavLink>{{group.key}}</a>
          <ng-template ngbNavContent>
            <div class="list-group rounded-0">
              <a *ngFor="let type of group.value"
                 class="list-group-item list-group-item-action"
                 [routerLink]="['/audits', audit.auditId, 'zones', selectedZone.id, 'types', group.key, type.id]"
                 routerLinkActive="active text-white"
              >
                {{type.name}} <small class="text-muted">{{type.subtype}}</small>
              </a>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-container>
  </div>
</div>
