<app-master-detail>
  <nav breadcrumb aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-dark-subtle">
      <li class="breadcrumb-item active" aria-current="page">Audits</li>
    </ol>
  </nav>
  <div list>
    <button class="btn btn-primary mb-3" (click)="create()">
      New Audit
    </button>
    <div ngbAccordion [destroyOnHide]="true" [closeOthers]="true">
      @for (section of audits | keyvalue; track section.key) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              {{ section.key || '(No State)' }}
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="list-group rounded-0">
                  @for (audit of section.value; track audit.auditId) {
                    <a class="list-group-item list-group-item-action d-flex align-items-center"
                       [routerLink]="[audit.auditId]" routerLinkActive="active text-white">
                      <div class="flex-grow-1">
                        {{ audit.auditName | titlecase }}
                        @if (authService.currentLoginUser?.role === 'superAdmin' && audit.user?.role?.role !== 'superAdmin') {
                          ({{ audit.user?.userName | titlecase }})
                        }
                      </div>
                      <app-option-dropdown class="visible-hover">
                        <button ngbDropdownItem (click)="rename(section.key, audit)">Rename</button>
                        <div class="dropdown-divider"></div>
                        @if ((authService.currentLoginUser?.role === 'admin' || authService.currentLoginUser?.role === 'superAdmin') && audit.user?.role?.role !== 'guest') {
                          <button ngbDropdownItem (click)="openAddDataCollectorModal(audit)">
                            Add DataCollector
                          </button>
                          <div class="dropdown-divider"></div>
                        }
                        @if (authService.currentLoginUser?.role !== 'dataCollector' || (audit.user?.role?.role !== 'admin' && audit.user?.role?.role !== 'superAdmin')) {
                          <button ngbDropdownItem class="text-danger" (click)="delete(section.key, audit)">
                            Delete
                          </button>
                        }
                      </app-option-dropdown>
                    </a>
                  }
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-master-detail>
