<h2 class="text-center">Upload Files</h2>
<ul ngbNav #nav="ngbNav" class="nav-tabs mb-2">
  <li ngbNavItem="energyAudit" (click)="changeNav('energyAudit')">
    <a ngbNavLink>Energy Audit</a>
  </li>
</ul>
<div mat-dialog-content>
  @if (tabType === 'energyAudit') {
    <div class="row">
      <div class="col">
        <label for="cdd" class="mb-2" style="font-weight: bold">
          Temperature
        </label>
        <input
          id="cdd"
          type="file"
          accept=".xlsx, .xls, .csv"
          (change)="onFileChange($event, 'temperature')"
        />
      </div>
    </div>
  }
  @if (tabType === 'cleanEnergyHub') {
    <div class="row">
      <div class="col-md-6 my-2">
        <div class="form-group">
          <div class="mb-2" style="font-weight: bold">Temperature</div>
          <input
            type="file"
            accept=".xlsx, .xls, .csv"
            style="width: 203px"
            (change)="onFileChange($event, 'temperature')"
          />
        </div>
        @if (formData.id && !fileUpdated) {
          <label>
            {{ tempratureFileName }}
          </label>
        }
      </div>
      <div class="col-md-6 my-2">
        <div class="form-group">
          <div class="mb-2" style="font-weight: bold">Tester File</div>
          <input
            type="file"
            accept=".xlsx, .xls, .csv"
            style="width: 203px"
            width="10"
            (change)="onFileChange($event, 'testerEnergyData')"
          />
        </div>
        @if (formData.id && !fileUpdated) {
          <label>
            {{ testerDataFileName }}
          </label>
        }
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-group">
          <div class="mb-2" style="font-weight: bold">PvWatts File</div>
          <input
            type="file"
            accept=".xlsx, .xls, .csv"
            style="width: 203px"
            width="10"
            (change)="onFileChange($event, 'pvWatts')"
          />
        </div>
        @if (formData.id && !fileUpdated) {
          <label>
            {{ pvWattsFileName }}
          </label>
        }
      </div>
    </div>
  }
</div>

<div class="row">
  <div class="col" style="text-align: right">
    <button
      class="btn btn-secondary"
      (click)="onClose()"
      style="margin-right: 5px"
    >
      Close
    </button>
    <button
      class="btn btn-primary"
      (click)="onCloseDialog()"
      [disabled]="
        (formData.type === 'energyAudit' && !formData.temperature) ||
        (formData.type === 'cleanEnergyHub' &&
          (!formData.temperature || !formData.testerEnergyData))
      "
    >
      Save
    </button>
  </div>
</div>
