@if (element.isHeading) {
  <h2 class="mb-3 text-primary">
    {{ element.heading }}
  </h2>
}
<label for="{{schema.id}}-{{element.key}}" class="form-label text-primary">
  {{ element.title }}
</label>
@switch (element.type) {
  @case ("select") {
    <select
      class="form-select"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="changeDropDown(element)"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
      @for (value of element.values.split(','); track value) {
        <option [value]="value.substring(value.indexOf(':') + 1)">
          {{ value.substring(value.indexOf(':') + 1) }}
        </option>
      }
    </select>
  }
  @case ("textArea") {
    <textarea
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    ></textarea>
  }
  @case ("checkbox") {
    <div style="text-align: right; margin-top: -30px;">
      <input
        type=checkbox
        class="text-primary"
        id="{{schema.id}}-{{element.key}}"
        [(ngModel)]="formData.data[element.key]"
        (change)="setDirty()"
        [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
        style="height: 15px; width: 15px;"
      >
    </div>
  }
  @case ("date") {
    <input
      type="date"
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
  }
  @default {
    <input
      [type]="element.dataType"
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
  }
}
<div id="{{schema.id}}-{{element.key}}-help" class="form-text text-primary">
  {{ element.hint }}
</div>
