@if (element.isHeading) {
  <h2 class="mb-3">
    {{ element.heading }}
  </h2>
}
@if (element.type !== 'checkbox') {
  <label for="{{schema.id}}-{{element.key}}" class="form-label">
    {{ element.title }}
  </label>
}
@switch (element.type) {
  @case ("select") {
    <select
      class="form-select"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="changeDropDown(element)"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
      @for (value of element.values.split(','); track value) {
        <option [value]="value.substring(value.indexOf(':') + 1)">
          {{ value.substring(value.indexOf(':') + 1) }}
        </option>
      }
    </select>
  }
  @case ("textArea") {
    <textarea
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    ></textarea>
  }
  @case ("checkbox") {
    <div class="form-check">
      <input
        type=checkbox
        class="form-check-input"
        id="{{schema.id}}-{{element.key}}"
        [(ngModel)]="formData.data[element.key]"
        (change)="setDirty()"
        [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
      >
      <label class="form-check-label" for="{{schema.id}}-{{element.key}}">
        {{ element.title }}
      </label>
    </div>
  }
  @case ("date") {
    <input
      type="date"
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
  }
  @default {
    <input
      [type]="element.dataType"
      class="form-control"
      id="{{schema.id}}-{{element.key}}"
      [(ngModel)]="formData.data[element.key]"
      (change)="setDirty()"
      [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"
    >
  }
}
<div id="{{schema.id}}-{{element.key}}-help" class="form-text">
  {{ element.hint }}
</div>
