<ngbx-modal [back]="['..']" #modal>
  <ng-container modal-title>
    Duplicate {{ toDuplicate?.type?.name }}
  </ng-container>
  <ng-container modal-body>
    <div class="mb-3">
      <label for="new-name" class="form-label">
        New Name
      </label>
      <input type="text" id="new-name" class="form-control" [placeholder]="toDuplicate?.name" [(ngModel)]="newName" />
      <div class="form-text">
        Enter a new name for the duplicated equipment.
        If left empty, the original name will be used.
      </div>
    </div>
    <div class="mb-3">
      <label for="zone" class="form-label">
        Zones
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <input type="search" class="form-control mb-3" [(ngModel)]="zoneSearch" placeholder="Search zones..." />
      <div class="p-3 rounded border" style="max-height: 300px; overflow-y: auto;">
        @for (zone of zones | search:zoneSearch:['zoneName']; track zone.zoneId) {
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="check-{{ zone.zoneId }}"
              [ngModel]="selectedZones.has(zone.zoneId)"
              (ngModelChange)="$event ? selectedZones.add(zone.zoneId) : selectedZones.delete(zone.zoneId)"
            />
            <label class="form-check-label" for="check-{{ zone.zoneId }}">
              {{ zone.zoneName }}
            </label>
          </div>
        }
      </div>
      <div class="form-text">
        Select all the zones where the equipment will be duplicated.
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="duplicate()" [disabled]="!selectedZones.size">
      Duplicate {{ selectedZones.size }}x
    </button>
  </ng-container>
</ngbx-modal>
