<div class="container">
  <h1>
    <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
    {{ type?.name }}
    <span class="text-muted small">
      {{ type?.subtype }}
    </span>
    <a class="btn btn-primary ms-2 bi-camera" [href]="'ccam://camera/' + project?.id | safe:'url'"
       (click)="startCapture(); modalService.open(tagModal, {ariaLabelledBy: 'tag-modal-title'})">
      Capture Photo
    </a>
  </h1>

  <app-form #form *ngIf="data && schema" [data]="data" [schema]="schema" (saved)="save($event)"></app-form>
</div>
<ng-template #tagModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="tag-modal-title">
      Tag Photos
    </h4>
    <button class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <p>
      After capturing photos, you can tag them with the button below.
    </p>
    <p>
      The following tags will be added:
    </p>
    <ul>
      <li>
        <code>{{ zone?.name }}</code> (Zone)
      </li>
      <li>
        <code>{{ type?.name }}</code> (Type)
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="tag(); modal.close()">
      Tag
    </button>
  </div>
</ng-template>
