<div class="bg-dark text-light mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-bounding-box px-3">
      Zone Details
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-link bi-three-dots" id="dropdown-zone-details" ngbDropdownToggle>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-zone-details">
        <div class="dropdown-item-text">
          No actions available.
        </div>
      </div>
    </div>
  </div>
  @if (progress) {
    <div class="p-3">
      <app-progress-bar [progress]="progress"></app-progress-bar>
    </div>
  }
</div>
<div class="container">
  @if (typeSchema && formData) {
    <app-form
      #form
      [typeSchema]="typeSchema"
      [formData]="formData"
      [formId]="'audits/' + auditId + '/zones/' + zoneId"
      (saved)="save()"
    ></app-form>
  }
</div>
