<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow">
      <div class="card-header py-3 text-white bg-primary">
        <h4 class="my-0 fw-normal">Energy Savings Identified</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          {{ energySavings() | number }}
          <small class="text-muted fw-light">kBTU/year</small>
        </h1>
        <button class="btn" (click)="energyEquivalent = random(equivalents.energy, energyEquivalent)">
          {{ energyEquivalent.prefix }}
          <b>
            {{ energySavings() * energyEquivalent.factor | number:'0.0-0' }}
            {{ energyEquivalent.unit }}
          </b>
          {{ energyEquivalent.suffix }}
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow">
      <div class="card-header py-3 text-dark bg-empowerment">
        <h4 class="my-0 fw-normal">Greenhouse Gas Emissions Reduction Identified</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          {{ ghgSavings() | number }}
          <small class="text-muted fw-light">kg&nbsp;CO<sub>2</sub>e</small>
        </h1>
        <button class="btn" (click)="ghgEquivalent = random(equivalents.ghg, ghgEquivalent)">
          {{ ghgEquivalent.prefix }}
          <b>
            {{ ghgSavings() * ghgEquivalent.factor | number:'0.0-0' }}
            {{ ghgEquivalent.unit }}
          </b>
          {{ ghgEquivalent.suffix }}
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow">
      <div class="card-header py-3 text-white bg-dark">
        <h4 class="my-0 fw-normal">Cost Savings Identified</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <small class="text-muted fw-light">$</small>
          {{ costSavings() | number:'0.2-2' }}
          <small class="text-muted fw-light">/year</small>
        </h1>
        <button class="btn" (click)="costsEquivalent = random(equivalents.costs, costsEquivalent)">
          {{ costsEquivalent.prefix }}
          <b>
            {{ costSavings() * costsEquivalent.factor | number:'0.0-0' }}
            {{ costsEquivalent.unit }}
          </b>
          {{ costsEquivalent.suffix }}
        </button>
      </div>
    </div>
  </div>
</div>
