<!-- <ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let section of schema?.geminiForm || []" [id]="'s-' + section.id" [title]="section.section">
    <ng-template ngbPanelContent>
      <div *ngFor="let element of section.elements" class="mb-3">
        <label for="{{section.id}}-{{element.id}}" class="form-label">{{element.param}}</label>
        <ng-container [ngSwitch]="element.dataType">
          <select *ngSwitchCase="'pickerinputrow'" [(ngModel)]="data[element.id]" (change)="setDirty()"
                  class="form-select"
                  id="{{section.id}}-{{element.id}}" [attr.aria-describedby]="section.id + '-' + element.id + '-help'">
            <option *ngFor="let value of element.defaultValues.split(',')"
                    [value]="value.substring(value.indexOf(':') + 1)">
              {{value.substring(value.indexOf(':') + 1)}}
            </option>
          </select>
          <textarea *ngSwitchCase="'textarearow'" [(ngModel)]="data[element.id]" (change)="setDirty()"
                    class="form-control"
                    id="{{section.id}}-{{element.id}}"
                    [attr.aria-describedby]="section.id + '-' + element.id + '-help'"></textarea>
          <input *ngSwitchDefault [(ngModel)]="data[element.id]" (change)="setDirty()"
                 [type]="element.dataType | formInputType" class="form-control"
                 [step]="element.dataType === 'introw' ? 1 : null"
                 id="{{section.id}}-{{element.id}}" [attr.aria-describedby]="section.id + '-' + element.id + '-help'">
        </ng-container>
        <div id="{{section.id}}-{{element.id}}-help" class="form-text">{{element.hint}}</div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
<div class="row"
  *ngIf="equipmentService.equipmentSubTypeData?.type?.id == 25 || equipmentService.equipmentSubTypeData?.typeChild?.equipmentType?.id == 25">
  <!-- HVAC -->
  <div class="col-12 px-4 py-3" style="text-align: right;">
    <button type="button" class="btn btn-primary btn-sm text-white" (click)="shareHvacData()">Share</button>
  </div>
</div>

<!-- <ngb-accordion [closeOthers]="true" #accordion *ngIf="formType === 'preAudit'" (panelChange)="onPanelChange($event)">
  <ngb-panel title="Auditor Info">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="auditInfoName" class="form-label text-primary">Name</label>
        <input [(ngModel)]="auditorInfo.preAuditauditorName" (change)="setDirty()" type="text" class="form-control"
          id="auditInfoName">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="auditInfoEmail" class="form-label text-primary">Email</label>
        <input [(ngModel)]="auditorInfo.preAuditauditorEmail" (change)="setDirty()" type="text" class="form-control"
          id="auditInfoEmail">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="auditInfoPhone" class="form-label text-primary">Phone Number</label>
        <input [(ngModel)]="auditorInfo.preAuditauditorPhoneNumber" (change)="setDirty()" type="text"
          class="form-control" id="auditInfoPhone">
        <div class="form-text text-primary">rq</div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="General Client Info">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="genralClientInfoName" class="form-label text-primary">Name</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientName" (change)="setDirty()" type="text" class="form-control"
          id="genralClientInfoName">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoPosition" class="form-label text-primary">Position</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientPosition" (change)="setDirty()" type="text"
          class="form-control mb-3" id="genralClientInfoPosition">
        <label for="genralClientInfoEmail" class="form-label text-primary">Email</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientEmail" (change)="setDirty()" type="text"
          class="form-control mb-3" id="genralClientInfoEmail">
        <label for="genralClientInfoPhoneNumber" class="form-label text-primary">Phone Number</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientPhoneNum" (change)="setDirty()" type="number"
          class="form-control mb-3" id="genralClientInfoPhoneNumber">
        <label for="genralClientInfoAddressLine1" class="form-label text-primary">AddressLine 1</label>
        <textarea [(ngModel)]="generalClientInfo.preAuditclientAddressLine1" rows="2" (change)="setDirty()"
          class="form-control" id="genralClientInfoAddressLine1">
        </textarea>
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoAddressLine2" class="form-label text-primary">AddressLine 2</label>
        <textarea [(ngModel)]="generalClientInfo.preAuditclientAddressLine2" rows="2" (change)="setDirty()"
          class="form-control mb-3" id="genralClientInfoAddressLine2">
        </textarea>
        <label for="genralClientInfoCity" class="form-label text-primary">City</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientCity" (change)="setDirty()" type="text" class="form-control"
          id="genralClientInfoCity">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoState" class="form-label text-primary">State</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientState" (change)="setDirty()" type="text" class="form-control"
          id="genralClientInfoState">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoZipCode" class="form-label text-primary">Zip Code</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientZipCode" (change)="setDirty()" type="number"
          class="form-control" id="genralClientInfoZipCode">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoMetersOnsite" class="form-label text-primary">Number of Meter Onsite</label>
        <input [(ngModel)]="generalClientInfo.metersOnsite" (change)="setDirty()" type="number"
          class="form-control mb-3" id="genralClientInfoMetersOnsite">
        <label for="genralClientInfoBusinessName" class="form-label text-primary">Business Name</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientBusinessName" (change)="setDirty()" type="text"
          class="form-control" id="genralClientInfoBusinessName">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoBuildingName" class="form-label text-primary">Building Name</label>
        <input [(ngModel)]="generalClientInfo.buildingName" (change)="setDirty()" type="text" class="form-control mb-3"
          id="genralClientInfoBuildingName">
        <label for="genralClientInfoFacilityType" class="form-label text-primary">Facility Type</label>
        <select [(ngModel)]="generalClientInfo.preAuditclientFacilityType" (change)="setDirty()" class="form-select"
          id="genralClientInfoFacilityType">
          <option *ngFor="let value of genralClientInfoFacilityType" [value]="value"> {{value}} </option>
        </select>
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfoFacilityTypeOther" class="form-label text-primary">Facility Type (Others)</label>
        <input [(ngModel)]="generalClientInfo.preAuditclientFacilityTypeOther" (change)="setDirty()" type="text"
          class="form-control mb-3" id="genralClientInfoFacilityTypeOther">
        <label for="genralClientInfopreAuditauditStartDate" class="form-label text-primary">Audit Start Date</label>
        <input [ngModel]="generalClientInfo.preAuditauditStartDate | date:'yyyy-MM-dd'" type="date"
          (ngModelChange)="this.generalClientInfo.preAuditauditStartDate=$event" class="form-control"
          id="genralClientInfopreAuditauditStartDate">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="genralClientInfopreAuditauditEndDate" class="form-label text-primary">Audit End Date</label>
        <input [ngModel]="generalClientInfo.preAuditauditEndDate | date:'yyyy-MM-dd'" type="date"
          (ngModelChange)="this.generalClientInfo.preAuditauditEndDate=$event" class="form-control"
          id="genralClientInfopreAuditauditEndDate">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Interviewee">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="intervieweeName" class="form-label text-primary">Name</label>
        <input [(ngModel)]="interviewee.preAuditintervieweeName" (change)="setDirty()" type="text"
          class="form-control mb-3" id="intervieweeName">
        <label for="intervieweePosition" class="form-label text-primary">Position</label>
        <input [(ngModel)]="interviewee.preAuditintervieweePosition" (change)="setDirty()" type="text"
          class="form-control mb-3" id="intervieweePosition">
        <label for="intervieweeEmail" class="form-label text-primary">Email</label>
        <input [(ngModel)]="interviewee.preAuditintervieweeEmail" (change)="setDirty()" type="email"
          class="form-control mb-3" id="intervieweeEmail">
        <label for="intervieweePhone" class="form-label text-primary">Phone Number</label>
        <input [(ngModel)]="interviewee.preAuditintervieweePhoneNum" (change)="setDirty()" type="number"
          class="form-control" id="intervieweePhone">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Occupied Hours">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="operationHoursNumberOfVacationDays" class="form-label text-primary">Number Of Vacation
          Days</label>
        <input [(ngModel)]="operationHours.vacationDays" (change)="setDirty()" type="number" class="form-control mb-3"
          id="operationHoursNumberOfVacationDays">

        <label for="hvacFeasibility" class="form-label text-primary">HVAC Feasibility</label>
        <select [(ngModel)]="operationHours.hvacFeasibility" (change)="setDirty()" class="form-select"
          id="hvacFeasibility">
          <option *ngFor="let value of hvacFeasibilityList" [value]="value"> {{value}} </option>
        </select>
        <div class="form-text text-primary mb-3">rq for hvac</div>

        <div class="row">
          <div class="col">
            <label for="operationHoursmondayOpening" class="form-label text-primary">Monday Opening</label>
            <input [(ngModel)]="operationHours.mondayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursmondayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHoursmondayClosing" class="form-label text-primary">Monday Closing</label>
            <input [(ngModel)]="operationHours.mondayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursmondayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:00</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHourstuesdayOpening" class="form-label text-primary">Tuesday Opening</label>
            <input [(ngModel)]="operationHours.tuesdayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHourstuesdayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHourstuesdayClosing" class="form-label text-primary">Tuesday Closing</label>
            <input [(ngModel)]="operationHours.tuesdayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHourstuesdayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:01</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHourswednesdayOpening" class="form-label text-primary">Wednesday Opening</label>
            <input [(ngModel)]="operationHours.wednesdayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHourswednesdayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHourswednesdayClosing" class="form-label text-primary">Wednesday Closing</label>
            <input [(ngModel)]="operationHours.wednesdayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHourswednesdayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:02</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHoursthursdayOpening" class="form-label text-primary">Thursday Opening</label>
            <input [(ngModel)]="operationHours.thursdayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursthursdayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHoursthursdayClosing" class="form-label text-primary">Thursday Closing</label>
            <input [(ngModel)]="operationHours.thursdayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursthursdayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:03</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHoursfridayOpening" class="form-label text-primary">Friday Opening</label>
            <input [(ngModel)]="operationHours.fridayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursfridayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHoursfridayClosing" class="form-label text-primary">Friday Closing</label>
            <input [(ngModel)]="operationHours.fridayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHoursfridayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:04</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHourssaturdayOpening" class="form-label text-primary">Saturday Opening</label>
            <input [(ngModel)]="operationHours.saturdayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHourssaturdayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHourssaturdayClosing" class="form-label text-primary">Saturday Closing</label>
            <input [(ngModel)]="operationHours.saturdayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHourssaturdayClosing">
            <div class="form-text text-primary mb-3">rq 13:00 18:05</div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="operationHourssundayOpening" class="form-label text-primary">Sunday Opening</label>
            <input [(ngModel)]="operationHours.sundayOpening" (change)="setDirty()" type="text" class="form-control"
              id="operationHourssundayOpening">
            <div class="form-text text-primary mb-3">rq 9:00 12:00</div>
          </div>
          <div class="col">
            <label for="operationHours" class="form-label text-primary">Sunday Closing</label>
            <input [(ngModel)]="operationHours.sundayClosing" (change)="setDirty()" type="text" class="form-control"
              id="operationHours">
            <div class="form-text text-primary mb-3">rq 13:00 18:06</div>
          </div>
        </div>
        <label for="operationHoursNotes" class="form-label text-primary">Notes</label>
        <input [(ngModel)]="operationHours.notes" (change)="setDirty()" type="text" class="form-control"
          id="operationHoursNotes">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Area">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="areaTotal" class="form-label text-primary">Total (Sq.Ft.)</label>
        <input [(ngModel)]="area.buildingTotalArea" (change)="setDirty()" type="number" class="form-control mb-3"
          id="areaTotal">
        <label for="areaConditioned" class="form-label text-primary">Conditioned (Sq.Ft.)</label>
        <input [(ngModel)]="area.buildingConditionedArea" (change)="setDirty()" type="number" class="form-control"
          id="areaConditioned">
        <div class="form-text text-primary mb-3">rq for HVAC calcs</div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Age">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="ageYearConstructed" class="form-label text-primary">Year Constructed</label>
        <input [(ngModel)]="age.yearConstructed" (change)="setDirty()" type="number" class="form-control mb-3"
          id="ageYearConstructed">
        <label for="ageYearLightSystemWasInstalled" class="form-label text-primary">Year Light System Was
          Installed/Replaced</label>
        <input [(ngModel)]="age.yearLightSystemInstalledOrReplaced" (change)="setDirty()" type="number"
          class="form-control mb-3" id="ageYearLightSystemWasInstalled">
        <label for="ageYearCoolingSystemWasInstalled" class="form-label text-primary">Year Cooling System Was
          Installed/Replaced</label>
        <input [(ngModel)]="age.yearCoolingSystemInstalledOrReplaced" (change)="setDirty()" type="number"
          class="form-control mb-3" id="ageYearCoolingSystemWasInstalled">
        <label for="ageYearHeatingSystemWasInstalled" class="form-label text-primary">Year Heating System Was
          Installed/Replaced</label>
        <input [(ngModel)]="age.yearHeatingSystemInstalledOrReplaced" (change)="setDirty()" type="number"
          class="form-control mb-3" id="ageYearHeatingSystemWasInstalled">
        <label for="ageYearMajorKitchenEquipmentWasInstalled" class="form-label text-primary">Year Major Kitchen Equipment
          Was Installed/Replaced</label>
        <input [(ngModel)]="age.yearKitchenEquipmentInstalledOrReplaced" (change)="setDirty()" type="number"
          class="form-control" id="ageYearMajorKitchenEquipmentWasInstalled">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="HVAC Maintenance">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="hvacMaintenanceContractType" class="form-label text-primary">Contract Type</label>
        <select [(ngModel)]="hvacMaintenance.buildingHvacMaintainenceContractType" (change)="setDirty()"
          class="form-select mb-3" id="hvacMaintenanceContractType">
          <option value="PM contract">PM Contract</option>
          <option value="self-maintained">Self-Maintained</option>
        </select>
        <label for="hvacMaintenanceHVACMaintenanceFrequency" class="form-label text-primary">
          HVAC Maintenance Frequency (times/year)
        </label>
        <input [(ngModel)]="hvacMaintenance.buildingHvacMaintainenceFrequency" (change)="setDirty()" type="number"
          class="form-control mb-3" id="hvacMaintenanceHVACMaintenanceFrequency">
        <label for="hvacMaintenanceHVACContractorsName" class="form-label text-primary">HVAC Contractor's Name</label>
        <input [(ngModel)]="hvacMaintenance.buildingHvacContractorName" (change)="setDirty()" type="text"
          class="form-control mb-3" id="hvacMaintenanceHVACContractorsName">
        <label for="hvacMaintenanceHVACPhoneNumber" class="form-label text-primary">HVAC Phone Number</label>
        <input [(ngModel)]="hvacMaintenance.buildingHvacContractorPhoneNum" (change)="setDirty()" type="number"
          class="form-control" id="hvacMaintenanceHVACPhoneNumber">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Others">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="othersLightReplacementHourlyRate" class="form-label text-primary">Light Replacement Hourly Cost</label>
        <input [(ngModel)]="others.lightReplacementHourlyRate" (change)="setDirty()" type="number"
          class="form-control" id="othersLightReplacementHourlyRate">
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="General Site Access and Notes">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="generalSiteAccessAndNotesHVACEquipmentLocation" class="form-label text-primary">
          Where is your HVAC equipment
        </label>
        <input [(ngModel)]="generalSiteAccessAndNotes.hvacEquipmentLocation" (change)="setDirty()" type="text"
          class="form-control" id="generalSiteAccessAndNotesHVACEquipmentLocation">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="generalSiteAccessAndNotesAreaAccess" class="form-label text-primary">
          Are you able to provide access to all areas including the roof?
        </label>
        <select [(ngModel)]="generalSiteAccessAndNotes.buildingCompleteAccess" (change)="setDirty()" class="form-select"
          id="generalSiteAccessAndNotesAreaAccess">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <div class="form-text text-primary mb-3">rq</div>
        <label for="generalSiteAccessAndNotesSiteNotes" class="form-label text-primary">General site notes</label>
        <textarea [(ngModel)]="generalSiteAccessAndNotes.buildingGeneralNotes" rows="2" (change)="setDirty()"
          class="form-control mb-3" id="generalSiteAccessAndNotesSiteNotes">
        </textarea>
        <label for="generalSiteAccessAndNotesIssuesHeatingCooling" class="form-label text-primary">
          Any issues with heating/cooling of space?
        </label>
        <textarea [(ngModel)]="generalSiteAccessAndNotes.issuesWithHeatingOrCooling" rows="2" (change)="setDirty()"
          class="form-control mb-3" id="generalSiteAccessAndNotesIssuesHeatingCooling">
        </textarea>
        <label for="generalSiteAccessAndNotesIssuesSeasonal" class="form-label text-primary">
          Seasonal issues? e.g., comfort or equipment failures?
        </label>
        <textarea [(ngModel)]="generalSiteAccessAndNotes.buildingSeasonalIssues" rows="2" (change)="setDirty()"
          class="form-control mb-3" id="generalSiteAccessAndNotesIssuesSeasonal">
        </textarea>
        <label for="generalSiteAccessAndNotesGasRemoved" class="form-label text-primary">
          Will all gas be removed with retrofit?
        </label>
        <select [(ngModel)]="generalSiteAccessAndNotes.gasRemovalAfterRetrofit" (change)="setDirty()"
          class="form-select" id="generalSiteAccessAndNotesGasRemoved">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <div class="form-text mb-3">impacts saving estimates</div>
        <label for="generalSiteAccessAndNotesOperationLimitedCovid" class="form-label text-primary">
          Is Operation still limited due to COVID?
        </label>
        <select [(ngModel)]="generalSiteAccessAndNotes.operationLimitedCovid" (change)="setDirty()"
          class="form-select mb-3" id="generalSiteAccessAndNotesOperationLimitedCovid">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <label for="generalSiteAccessAndNotesUniqueRoom" class="form-label text-primary">
          How Many Unique Rooms are there?
        </label>
        <input [(ngModel)]="generalSiteAccessAndNotes.numberOfUniqueRooms" (change)="setDirty()" type="number"
          class="form-control mb-3" id="generalSiteAccessAndNotesUniqueRoom">
        <label for="generalSiteAccessAndNotesBms" class="form-label text-primary">
          Is there a Building Management System (BMS) in use for energy management?
        </label>
        <select [(ngModel)]="generalSiteAccessAndNotes.bmsForEnergyManagement" (change)="setDirty()" class="form-select mb-3"
          id="generalSiteAccessAndNotesBms">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <label for="generalSiteAccessAndNotesNotes" class="form-label text-primary">Notes</label>
        <textarea [(ngModel)]="generalSiteAccessAndNotes.notes" rows="2" (change)="setDirty()"
          class="form-control" id="generalSiteAccessAndNotesNotes">
        </textarea>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Utillity Bill Analysis">
    <ng-template ngbPanelContent>
      <div class="mb-3">
        <label for="utillityBillAnalysisStartDate" class="form-label text-primary">Start Date</label>
        <input [ngModel]="utillityBillAnalysis.startDate | date:'yyyy-MM-dd'" type="date"
          (ngModelChange)="this.utillityBillAnalysis.startDate=$event" class="form-control"
          id="utillityBillAnalysisStartDate">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="utillityBillAnalysisEndDate" class="form-label text-primary">End Date</label>
        <input [ngModel]="utillityBillAnalysis.endDate | date:'yyyy-MM-dd'" type="date"
          (ngModelChange)="this.utillityBillAnalysis.endDate=$event" class="form-control"
          id="utillityBillAnalysisEndDate">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="utillityBillAnalysisannualSpend" class="form-label text-primary">Total Spend On Energy (Annual)</label>
        <input type="number" id="utillityBillAnalysisannualSpend" class="form-control" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.annualSpend">
        <div class="form-text text-primary mb-3">rq</div>

        <label for="utillityBillAnalysisElectricUtilityCompany" class="form-label text-primary">Electric Utility Company</label>
        <input [(ngModel)]="utillityBillAnalysis.electricUtilityCompany" (change)="setDirty()" type="text"
          class="form-control" id="utillityBillAnalysisElectricUtilityCompany">
        <div class="form-text text-primary mb-3">rq</div>
        <label for="utillityBillAnalysisAnnualElectricityUsage" class="form-label text-primary">Total Electric Energy Usage (Annual)</label>
        <input type="number" id="utillityBillAnalysisAnnualElectricityUsage" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.annualElectricityUsage">
        <label for="utillityBillAnalysisAverageElectricityCostPerkWh" class="form-label text-primary">Average Electricity Cost ($/kWh)</label>
        <input type="number" id="utillityBillAnalysisAverageElectricityCostPerkWh" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.averageElectricityCostPerkWh">
        <label for="utillityBillAnalysisAverageElectricityDemandCostPerKW" class="form-label text-primary">Average Electricity Demand Cost ($/kW)</label>
        <input type="number" id="utillityBillAnalysisAverageElectricityDemandCostPerKW" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.averageElectricityDemandCostPerKW">
        <label for="utillityBillAnalysisAnnualMonthlyElectricityServiceCharge" class="form-label text-primary">Electricity Monthly Service Charge</label>
        <input type="number" id="utillityBillAnalysisAnnualMonthlyElectricityServiceCharge" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.monthlyElectricityServiceCharge">
        <label for="utillityBillAnalysisElectricRateStructure" class="form-label text-primary">Electric Rate Structure</label>
        <input [(ngModel)]="utillityBillAnalysis.buildingElectricRateStructure" (change)="setDirty()" type="text" class="form-control mb-3"
          id="utillityBillAnalysisElectricRateStructure">

        <label for="utillityBillAnalysisGasUtilityCompany" class="form-label text-primary">Gas Utility Company</label>
        <input [(ngModel)]="utillityBillAnalysis.gasUtilityCompany" (change)="setDirty()" type="text" class="form-control"
          id="utillityBillAnalysisGasUtilityCompany">
        <div class="form-text text-primary mb-3">rq if relevant</div>
        <label for="utillityBillAnalysisAnnualGasUsage" class="form-label text-primary">Total Gas Energy Usage (Annual)</label>
        <input type="number" id="utillityBillAnalysisAnnualGasUsage" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.annualGasUsage">
        <label for="utillityBillAnalysisAverageGasCostPerTherm" class="form-label text-primary">Average Gas Cost ($/Therm)</label>
        <input type="number" id="utillityBillAnalysisAverageGasCostPerTherm" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.averageGasCostPerTherm">
        <label for="utillityBillAnalysisMonthlyOilServiceCharge" class="form-label text-primary">Gas Monthly Service Charge</label>
        <input type="number" id="utillityBillAnalysisMonthlyGasServiceCharge" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.monthlyGasServiceCharge">
        <label for="utillityBillAnalysisGasRateStructure" class="form-label text-primary">Gas Rate Structure</label>
        <input [(ngModel)]="utillityBillAnalysis.buildingGasRateStructure" (change)="setDirty()" type="text" class="form-control mb-3"
          id="utillityBillAnalysisGasRateStructure">

        <label for="utillityBillAnalysisPropaneGasUtilityCompany" class="form-label text-primary">Propane Gas Utility Company</label>
        <input [(ngModel)]="utillityBillAnalysis.propaneGasUtilityCompany" (change)="setDirty()" type="text" class="form-control"
          id="utillityBillAnalysisPropaneGasUtilityCompany">
        <div class="form-text text-primary mb-3">rq if relevant</div>
        <label for="utillityBillAnalysisAnnualPropaneGasUsage" class="form-label text-primary">Total Propane Gas Energy Usage (Annual)</label>
        <input type="number" id="utillityBillAnalysisAnnualPropaneGasUsage" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.annualPropaneGasUsage">
        <label for="utillityBillAnalysisAveragePropaneGasCostPerGal" class="form-label text-primary">Average Propane Gas Cost ($/Gal)</label>
        <input type="number" id="utillityBillAnalysisAveragePropaneGasCostPerGal" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.averagePropaneGasCostPerGal">
        <label for="utillityBillAnalysisMonthlyOilServiceCharge" class="form-label text-primary">Propane Gas Monthly Service Charge</label>
        <input type="number" id="utillityBillAnalysisMonthlyPropaneGasServiceCharge" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.monthlyPropaneGasServiceCharge">

        <label for="utillityBillAnalysisOilUtilityCompany" class="form-label text-primary">Oil Utility Company</label>
        <input [(ngModel)]="utillityBillAnalysis.oilUtilityCompany" (change)="setDirty()" type="text" class="form-control"
          id="utillityBillAnalysisOilUtilityCompany">
        <div class="form-text text-primary mb-3">rq if relevant</div>
        <label for="utillityBillAnalysisAnnualOilUsage" class="form-label text-primary">Total Oil Energy Usage (Annual)</label>
        <input type="number" id="utillityBillAnalysisAnnualOilUsage" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.annualOilUsage">
        <label for="utillityBillAnalysisAverageOilCostPerGal" class="form-label text-primary">Average Oil Cost ($/Gal)</label>
        <input type="number" id="utillityBillAnalysisAverageOilCostPerGal" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.averageOilCostPerGal">
        <label for="utillityBillAnalysisMonthlyOilServiceCharge" class="form-label text-primary">Oil Monthly Service Charge</label>
        <input type="number" id="utillityBillAnalysisMonthlyOilServiceCharge" class="form-control mb-3" (change)="setDirty()"
        [(ngModel)]="utillityBillAnalysis.monthlyOilServiceCharge">
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->

<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let schema of typeSchema" [id]="'s-' + schema.id" [title]="schema.name">
    <ng-template ngbPanelContent>
      <div class="row" *ngIf="schema.name== 'Non Electric Vehicle' || schema.name== 'Electric Vehicle'">
        <div class="col-12 px-4 py-0" style="text-align: right;">
          <button type="button" class="btn btn-primary btn-sm text-white" (click)="shareCEHVehicleScedule(schema)">
            Share
          </button>
        </div>
      </div>
      <!-- Begin First Layer Inputs -->
      <div class="row">
        <div *ngFor="let element of schema.schema; let i=index" class="mb-3 {{isMediumPage(schema, element)}}">
          <div
            *ngIf="element.key != 'tube_type' || (element.key == 'tube_type' && equipmentService.equipmentSubTypeData.typeChild?.name == 'Linear Fluorescent')">
            <h2 *ngIf="element.isHeading" class="mb-3 text-primary">{{element.heading}}</h2>
            <label for="{{schema.id}}-{{element.key}}" class="form-label text-primary">{{element.title}}</label>
            <ng-container [ngSwitch]="element.type">
              <select *ngSwitchCase="'select'" [(ngModel)]="formData.data[element.key]"
                (change)="changeDropDown(element?.inputList, element.key)" class="form-select"
                id="{{schema.id}}-{{element.key}}" [attr.aria-describedby]="schema.id + '-' + element.key + '-help'">
                <option *ngFor="let value of element.values.split(',')"
                  [value]="value.substring(value.indexOf(':') + 1)">
                  {{value.substring(value.indexOf(':') + 1)}}
                </option>
              </select>
              <textarea *ngSwitchCase="'textArea'" [(ngModel)]="formData.data[element.key]" (change)="setDirty()"
                class="form-control" id="{{schema.id}}-{{element.key}}"
                [attr.aria-describedby]="schema.id + '-' + element.key + '-help'"></textarea>
              <div *ngSwitchCase="'checkbox'" style="text-align: right; margin-top: -30px;">
                <input [checked]="formData.data[element.key]" (change)="changeCheckBox($event, element.key)"
                  [type]="element.type" id="{{schema.id}}-{{element.key}}" class="text-primary"
                  [attr.aria-describedby]="schema.id + '-' + element.key + '-help'" style="height: 15px; width: 15px;">
              </div>
              <input *ngSwitchCase="'date'" [ngModel]="formData.data[element.key] | date:'yyyy-MM-dd'"
                [type]="element.type" class="{{'form-control'+formatDate(element)}}"
                (ngModelChange)="formData.data[element.key] = $event" id="{{schema.id}}-{{element.key}}"
                [attr.aria-describedby]="schema.id + '-' + element.key + '-help'">
              <input *ngSwitchDefault [(ngModel)]="formData.data[element.key]" (change)="setDirty()"
                [type]="element.dataType" class="form-control" [step]="element.type === 'textBox' ? 1 : null"
                id="{{schema.id}}-{{element.key}}" [attr.aria-describedby]="schema.id + '-' + element.key + '-help'">
            </ng-container>
            <div id="{{schema.id}}-{{element.key}}-help" class="form-text text-primary">{{element.hint}}</div>
          </div>
          <!-- Begin Second Layer Inputs -->
          <div *ngFor="let element1 of element?.inputList; let j=index" class="mt-3 mx-2">
            <div *ngIf="!element1.dependentKeyValue || element1.dependentKeyValue == formData.data[element.key]">
              <h2 *ngIf="element1.isHeading" class="mb-3 text-primary">{{element1.heading}}</h2>
              <label for="{{schema.id}}-{{element1.key}}" class="form-label text-primary">{{element1.title}}</label>
              <ng-container [ngSwitch]="element1.type">
                <select *ngSwitchCase="'select'" [(ngModel)]="formData.data[element1.key]"
                  (change)="changeDropDown(element1?.inputList, element1.key)" class="form-select"
                  id="{{schema.id}}-{{element1.key}}"
                  [attr.aria-describedby]="schema.id + '-' + element1.key + '-help'">
                  <option *ngFor="let value of element1.values.split(',')"
                    [value]="value.substring(value.indexOf(':') + 1)">
                    {{value.substring(value.indexOf(':') + 1)}}
                  </option>
                </select>
                <textarea *ngSwitchCase="'textArea'" [(ngModel)]="formData.data[element1.key]" (change)="setDirty()"
                  class="form-control" id="{{schema.id}}-{{element1.key}}"
                  [attr.aria-describedby]="schema.id + '-' + element1.key + '-help'"></textarea>
                <div *ngSwitchCase="'checkbox'" style="text-align: right; margin-top: -30px;">
                  <input [checked]="formData.data[element1.key]" (change)="changeCheckBox($event, element1.key)"
                    [type]="element1.type" id="{{schema.id}}-{{element1.key}}" class="text-primary"
                    [attr.aria-describedby]="schema.id + '-' + element1.key + '-help'"
                    style="height: 15px; width: 15px;">
                </div>
                <input *ngSwitchCase="'date'" [ngModel]="formData.data[element1.key] | date:'yyyy-MM-dd'"
                  [type]="element1.type" class="{{'form-control'+formatDate(element1)}}"
                  (ngModelChange)="formData.data[element1.key] = $event" id="{{schema.id}}-{{element1.key}}"
                  [attr.aria-describedby]="schema.id + '-' + element1.key + '-help'">
                <input *ngSwitchDefault [(ngModel)]="formData.data[element1.key]" (change)="setDirty()"
                  [type]="element1.dataType" class="form-control" [step]="element1.type === 'textBox' ? 1 : null"
                  id="{{schema.id}}-{{element1.key}}"
                  [attr.aria-describedby]="schema.id + '-' + element1.key + '-help'">
              </ng-container>
              <div id="{{schema.id}}-{{element1.key}}-help" class="form-text text-primary">{{element1.hint}}</div>
              <!-- Begin Third Layer Inputs -->
              <div *ngFor="let element2 of element1?.inputList; let k=index" class="mt-3 mx-2">
                <div *ngIf="!element2.dependentKeyValue || element2.dependentKeyValue == formData.data[element1.key]">
                  <h2 *ngIf="element2.isHeading" class="mb-3 text-primary">{{element2.heading}}</h2>
                  <label for="{{schema.id}}-{{element2.key}}" class="form-label text-primary">{{element2.title}}</label>
                  <ng-container [ngSwitch]="element2.type">
                    <select *ngSwitchCase="'select'" [(ngModel)]="formData.data[element2.key]" (change)="setDirty()"
                      class="form-select" id="{{schema.id}}-{{element2.key}}"
                      [attr.aria-describedby]="schema.id + '-' + element2.key + '-help'">
                      <option *ngFor="let value of element2.values.split(',')"
                        [value]="value.substring(value.indexOf(':') + 1)">
                        {{value.substring(value.indexOf(':') + 1)}}
                      </option>
                    </select>
                    <textarea *ngSwitchCase="'textArea'" [(ngModel)]="formData.data[element2.key]" (change)="setDirty()"
                      class="form-control" id="{{schema.id}}-{{element2.key}}"
                      [attr.aria-describedby]="schema.id + '-' + element2.key + '-help'"></textarea>
                    <div *ngSwitchCase="'checkbox'" style="text-align: right; margin-top: -30px;">
                      <input [checked]="formData.data[element2.key]" (change)="changeCheckBox($event, element2.key)"
                        [type]="element2.type" id="{{schema.id}}-{{element2.key}}" class="text-primary"
                        [attr.aria-describedby]="schema.id + '-' + element2.key + '-help'"
                        style="height: 15px; width: 15px;">
                    </div>
                    <input *ngSwitchCase="'date'" [ngModel]="formData.data[element2.key] | date:'yyyy-MM-dd'"
                      [type]="element2.type" class="{{'form-control'+formatDate(element2)}}"
                      (ngModelChange)="formData.data[element2.key] = $event" id="{{schema.id}}-{{element2.key}}"
                      [attr.aria-describedby]="schema.id + '-' + element2.key + '-help'">
                    <input *ngSwitchDefault [(ngModel)]="formData.data[element2.key]" (change)="setDirty()"
                      [type]="element2.dataType" class="form-control" [step]="element2.type === 'textBox' ? 1 : null"
                      id="{{schema.id}}-{{element2.key}}"
                      [attr.aria-describedby]="schema.id + '-' + element2.key + '-help'">
                  </ng-container>
                  <div id="{{schema.id}}-{{element2.key}}-help" class="form-text text-primary">{{element2.hint}}</div>
                </div>
              </div>
              <!-- End Third Layer Inputs -->
            </div>
          </div>
          <!-- End Second Layer Inputs -->
        </div>
      </div>
      <!-- End First Layer Inputs -->
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<p class="text-center text-muted mt-3 mb-5">
  Don't forget to save when you're done filling out the form!
</p>
<button type="button" class="btn btn-primary btn-lg btn-floating-action text-white" (click)="save()">
  Save
</button>