<div ngbAccordion [closeOthers]="true">
  <div ngbAccordionItem *ngFor="let schema of typeSchema" [id]="'s-' + schema.id" [title]="schema.name">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ schema.name }}
      </button>
    </h2>
    <div ngbAccordionCollapse>
    <div ngbAccordionBody>
      <div class="row" *ngIf="schema.name=== 'Non Electric Vehicle' || schema.name=== 'Electric Vehicle'">
        <div class="col-12 px-4 py-0" style="text-align: right;">
          <button type="button" class="btn btn-primary btn-sm text-white" (click)="shareCEHVehicleScedule(schema)">
            Share
          </button>
        </div>
      </div>
      <div class="row">
        @if (formData) {
          <div *ngFor="let element of schema.schema; let i=index" class="mb-3 {{isMediumPage(schema, element)}}">
            <div
              *ngIf="element.key !== 'tube_type' || (element.key === 'tube_type' && equipmentService.equipmentSubTypeData.typeChild?.name === 'Linear Fluorescent')">
              <app-form-element [element]="element" [schema]="schema" [formId]="formId" [formData]="formData" (dirty)="setDirty()"></app-form-element>
            </div>
            <div *ngFor="let element1 of element?.inputList" class="mt-3 mx-2">
              <div *ngIf="!element1.dependentKeyValue || element1.dependentKeyValue === formData.data[element.key]">
                <app-form-element [element]="element1" [schema]="schema" [formId]="formId" [formData]="formData" (dirty)="setDirty()"></app-form-element>
                <div *ngFor="let element2 of element1?.inputList" class="mt-3 mx-2">
                  <div *ngIf="!element2.dependentKeyValue || element2.dependentKeyValue === formData.data[element1.key]">
                    <app-form-element [element]="element2" [schema]="schema" [formId]="formId" [formData]="formData" (dirty)="setDirty()"></app-form-element>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  </div>
</div>

<p class="text-center text-muted mt-3 mb-5">
  Don't forget to save when you're done filling out the form!
</p>
<button type="button" class="btn btn-primary btn-lg btn-floating-action text-white" (click)="save()">
  Save
</button>
