<app-master-detail>
  <div list>
    <input
      type="search"
      class="form-control mb-3"
      placeholder="Search all audits"
      [(ngModel)]="search"
    />
    <a class="btn btn-outline-secondary w-100 bi-journal-plus mb-3" routerLink="new">
      Add Audit
    </a>
    @if (audits) {
      <div ngbAccordion [destroyOnHide]="true" [closeOthers]="true">
        @for (section of audits | keyvalue; track section.key) {
          @let audits = section.value | search:search:['auditName'];
          <div ngbAccordionItem [disabled]="!audits.length">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton [class.text-secondary]="!audits.length">
                <div class="flex-grow-1">
                  {{ section.key || '(No State)' }}
                </div>
                <span class="text-muted mx-2">{{ audits.length }}</span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="list-group rounded-0">
                    @for (audit of audits; track audit.auditId) {
                      <a class="list-group-item list-group-item-action d-flex align-items-center"
                         [routerLink]="[audit.auditId]" routerLinkActive="active">
                        <div class="flex-grow-1">
                          {{ audit.auditName | titlecase }}
                          @if (authService.currentLoginUser?.role?.role === 'superAdmin' && audit.user?.role?.role !== 'superAdmin') {
                            ({{ audit.user?.userName | titlecase }})
                          }
                        </div>
                        <div class="ms-3">
                          <app-audit-options-dropdown
                            (click)="$event.stopImmediatePropagation(); $event.preventDefault()"
                            [audit]="audit"
                            (deleted)="delete(section.key, audit)"
                          />
                        </div>
                      </a>
                    }
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <app-list-placeholder/>
    }
  </div>
  <div default class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h1>
      Welcome to Conserve!
    </h1>
    <h2>
      Please select an audit to begin.
    </h2>
  </div>
</app-master-detail>
