<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let section of schema?.geminiForm || []" [id]="'s-' + section.id" [title]="section.section">
    <ng-template ngbPanelContent>
      <div *ngFor="let element of section.elements" class="mb-3">
        <label for="{{section.id}}-{{element.id}}" class="form-label">{{element.param}}</label>
        <ng-container [ngSwitch]="element.dataType">
          <select *ngSwitchCase="'pickerinputrow'" [(ngModel)]="data[element.id]" (change)="setDirty()"
                  class="form-select"
                  id="{{section.id}}-{{element.id}}" [attr.aria-describedby]="section.id + '-' + element.id + '-help'">
            <option *ngFor="let value of element.defaultValues.split(',')"
                    [value]="value.substring(value.indexOf(':') + 1)">
              {{value.substring(value.indexOf(':') + 1)}}
            </option>
          </select>
          <textarea *ngSwitchCase="'textarearow'" [(ngModel)]="data[element.id]" (change)="setDirty()"
                    class="form-control"
                    id="{{section.id}}-{{element.id}}"
                    [attr.aria-describedby]="section.id + '-' + element.id + '-help'"></textarea>
          <input *ngSwitchDefault [(ngModel)]="data[element.id]" (change)="setDirty()"
                 [type]="element.dataType | formInputType" class="form-control"
                 [step]="element.dataType === 'introw' ? 1 : null"
                 id="{{section.id}}-{{element.id}}" [attr.aria-describedby]="section.id + '-' + element.id + '-help'">
        </ng-container>
        <div id="{{section.id}}-{{element.id}}-help" class="form-text">{{element.hint}}</div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<p class="text-center text-muted mt-3 mb-5">
  Don't forget to save when you're done filling out the form!
</p>
<button type="button" class="btn btn-primary btn-lg btn-floating-action" (click)="save()">
  Save
</button>
