<ngbx-modal #modal="modal" [back]="['..']">
  <ng-container modal-title>
    Generate Report
  </ng-container>
  <ng-container modal-body>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem="energyAudit">
        <a ngbNavLink>Energy Audit</a>
        <ng-template ngbNavContent>
          <a class="btn btn-primary" [href]="serverUrl + 'api/energyAuditReport?auditId=' + auditId + '&auth_token=' + authToken" download>
            Download Energy Audit
          </a>
        </ng-template>
      </li>
      <li ngbNavItem="cleanEnergyHub">
        <a ngbNavLink>Clean Energy Hub</a>
        <ng-template ngbNavContent>
          <a class="btn btn-primary" [href]="serverUrl + 'api/feasibilityReport?auditId=' + auditId + '&auth_token=' + authToken" download>
            Download Feasibility
          </a>
          <a class="btn btn-primary" [href]="serverUrl + 'api/cehMicrogridSheet?auditId=' + auditId + '&auth_token=' + authToken" download>
            Download Microgrid
          </a>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Close
    </button>
  </ng-container>
</ngbx-modal>
