<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a *ngIf="config" class="navbar-brand" [href]="config.brand.url">
    <img [src]="config.brand.logo" height="32" [alt]="config.brand.name">
    {{ config.brand.name }}
  </a>
  <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="menuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/audits">Audits</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings">Settings</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Clashsoft/conserve.clashsoft.de">
          <i class="bi-github"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
