<ngbx-modal #modal [back]="['..']">
  <ng-container modal-title>
    New {{ types[0]?.equipment?.equipmentName }}
  </ng-container>
  <ng-container modal-body>
    <fieldset class="mb-3" id="type">
      <label class="form-label" for="type">
        Type
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      @for (item of types; track item.id) {
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="type-{{ item.id }}" [value]="item" [(ngModel)]="type">
          <label class="form-check-label" for="type-{{ item.id }}">
            {{ item.name }}
          </label>
        </div>
      }
    </fieldset>
    <div class="mb-3">
      <label class="form-label" for="name">
        Name
        <span class="text-danger" ngbTooltip="Required">*</span>
      </label>
      <input class="form-control" type="text" id="name" [(ngModel)]="name">
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button class="btn btn-primary" (click)="create()" [disabled]="!isValid()">Create</button>
  </ng-container>
</ngbx-modal>
