<div class="container">
  <h1>Settings</h1>
  <h2 class="d-flex align-items-center">
    Parse Server Profiles
    <a class="btn btn-success bi-plus-circle ml-auto" [routerLink]="['profiles', 'new']">
      Add
    </a>
  </h2>
  <ul class="list-group mb-3">
    <li
      *ngFor="let profile of profiles | keyvalue"
      class="list-group-item d-flex align-items-center"
    >
      <div class="mr-auto">
        {{ profile.value.name }}
        <span class="text-muted">
          {{ profile.value.url }}
        </span>
      </div>
      <div *ngIf="profile.key === activeProfile" class="bi-check-circle text-primary">
        Active
      </div>
      <button class="btn btn-primary bi-check-circle ml-2" *ngIf="profile.key !== activeProfile" (click)="setActiveProfile(profile.key)">
        Select
      </button>
      <a class="btn btn-secondary bi-pencil ml-2" [routerLink]="['profiles', profile.key]">
        Edit
      </a>
    </li>
  </ul>
  <h2>CompanyCam</h2>
  <div class="form">
    <div class="form-group">
      <label for="companyCamApiKeyInput">API Key</label>
      <input type="password" class="form-control" id="companyCamApiKeyInput" autocomplete="off" [(ngModel)]="companycamApiKey">
    </div>
    <button type="button" class="btn btn-primary mr-2" (click)="saveCompanycam()">
      Save
    </button>
    <button type="button" class="btn btn-success" (click)="testCompanycam()">
      Test
    </button>
  </div>
</div>
