<app-master-detail>
  <div list class="list-group">
    <a class="list-group-item list-group-item-action bi-person" routerLink="change-password" routerLinkActive="active">
      Profile
      <span class="float-end bi-chevron-right"></span>
      <div class="text-muted">
        Login, Password, ...
      </div>
    </a>
    <a class="list-group-item list-group-item-action bi-toggles" routerLink="site" routerLinkActive="active">
      Site Settings
      <span class="float-end bi-chevron-right"></span>
      <div class="text-muted">
        Theme, ...
      </div>
    </a>
  </div>
  <div default class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h1>
      Settings
    </h1>
    <h2>
      Please select a category to configure.
    </h2>
  </div>
</app-master-detail>
