<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="mb-3">
                    <div class="row mb-2">
                        <div class="col px-0">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" formControlName="email" id="email"
                                aria-describedby="email-Help">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-primary text-white col">Submit</button>
                    </div>
                </form>
                <a routerLink="/auth/login"> Back To Login? </a>
            </div>
        </div>
    </div>
</div>