<app-brand-header></app-brand-header>
<div class="container p-3">
  <h1>
    Reset Password
  </h1>
  <div>
    <p>
      Please enter your email address.
      We will send you a temporary password that you can use to log in and pick a new password.
    </p>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email">
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3" (click)="onSubmit()" [disabled]="!email || submitting">
      @if (submitting) {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Resetting...
      } @else {
        Reset
      }
    </button>
    Remember your old password or received a new one?
    <a routerLink="/auth/signup">Log In</a>
  </div>
</div>
