<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Theme</h5>
      @for (theme of themes; track theme.value) {
        <div class="card mb-3" [attr.data-bs-theme]="theme.value">
          <div class="card-body">
            <h5 class="card-title">
              {{ theme.name }}
            </h5>
            <p class="card-text">
              <span class="placeholder col-7"></span>
              &nbsp;
              <span class="placeholder col-4"></span>
              &nbsp;
              <span class="placeholder col-4"></span>
              &nbsp;
              <span class="placeholder col-6"></span>
            </p>
            <button class="btn btn-primary col-6" (click)="selectTheme(theme.value)" [class.bi-check]="theme.value === selectedTheme">
              Select
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
