<div class="container">
  <h1>
    Edit Field: {{ field.title }}
  </h1>
  <h2>
    Basic Information
  </h2>
  <app-form
    [typeSchema]="metaSchema"
    [formData]="{data: $any(field)}"
    (saved)="save()"
    [dirty]="!!section?._dirty"
    (dirtyChange)="setDirty($event)"
  />
  <h2>
    Summary
  </h2>
  <div class="mb-3">
    <app-editor [ngModel]="field.summary" (ngModelChange)="setDocs('summary', $event)"/>
  </div>
  <h2>
    Documentation
  </h2>
  <div class="mb-3">
    <app-editor [ngModel]="field.docs" (ngModelChange)="setDocs('docs', $event)"/>
  </div>
  <h2 class="d-flex align-items-center">
    Validation
    <i class="small bi-info-circle ms-2" ngbTooltip="About Validation" [ngbPopover]="popup" popoverTitle="About Validation"></i>
    <button class="btn btn-success bi-plus-lg ms-auto" (click)="addValidation()">
      Add Validation
    </button>
    <button
      class="btn btn-secondary bi-clipboard-plus ms-2"
      ngbTooltip="Paste Validation"
      aria-label="Paste Validation"
      (click)="pasteValidation()"
    ></button>
  </h2>
  <ng-template #popup>
    <dl>
      <dt>Message</dt>
      <dd>
        Validation messages are displayed when the condition is met.
      </dd>
      <dt>Severity</dt>
      <dd>
        The severity (error or warning) determines how the color of the message and whether the form is considered valid.
      </dd>
      <dt>Conditions</dt>
      <dd>
        Conditions are written in Jexl, a simple expression language.
        You can refer to any field in the form by its key.
        <br>
        <a class="bi-info-circle me-2" target="_blank" href="https://github.com/TomFrost/Jexl#all-the-details">
          Learn more
        </a>
      </dd>
      <dt>
        Example
      </dt>
      <dd>
        To display an error message when a field named <code>year</code> is before 1900:
        <ul>
          <li>Severity: Error</li>
          <li>Condition: <code>year < 1900</code></li>
          <li>Message: Year must be after 1900</li>
        </ul>
    </dl>
  </ng-template>
  <div class="list-group mb-3">
    @for (validation of field.validations; track validation) {
      <div class="list-group-item">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            When
          </div>
          <div class="col">
            <input
              class="form-control font-monospace"
              [(ngModel)]="validation['if']"
              aria-label="Condition"
              ngbTooltip="The condition that must be met for the validation to be triggered."
            />
          </div>
          <div class="col-auto">
            then display
          </div>
          <div class="col-auto">
            <select
              class="form-select"
              [(ngModel)]="validation.level"
              aria-label="Severity"
              ngbTooltip="The severity of the validation"
            >
              <option value="error">Error</option>
              <option value="warning">Warning</option>
            </select>
          </div>
          <div class="col-auto">
            with message
          </div>
          <div class="col">
            <input
              class="form-control"
              [(ngModel)]="validation.message"
              aria-label="Message"
              ngbTooltip="The message to display if the validation is triggered."
            />
          </div>
          <div class="col-auto">
            <button
              class="btn m-0 p-0 btn-link text-secondary bi-clipboard me-2"
              ngbTooltip="Copy Validation"
              aria-label="Copy Validation"
              (click)="copyValidation(validation)"
            ></button>
            <button
              class="btn m-0 p-0 btn-link text-danger bi-trash"
              ngbTooltip="Remove Validation"
              aria-label="Remove Validation"
              (click)="removeValidation($index)"
            ></button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="list-group-item text-muted">
        No validations.
      </div>
    }
  </div>
  <h2 class="d-flex align-items-center">
    Subfields
    <button class="btn btn-success bi-plus-lg ms-auto" (click)="addSubfield()">
      Add Subfield
    </button>
    <button
      class="btn btn-secondary bi-clipboard-plus ms-2"
      ngbTooltip="Paste Subfield"
      aria-label="Paste Subfield"
      (click)="pasteSubfield()"
    ></button>
  </h2>
  <div class="list-group mb-3" cdkDropList (cdkDropListDropped)="dropSubfield($event)">
    @for (subField of field.inputList; track subField.key) {
      <div class="list-group-item" cdkDrag>
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            When <span class="font-monospace text-info">{{ field.key }}</span> equals
          </div>
          <div class="col">
            @if (field.dataType === 'bool') {
              <select
                class="form-select"
                [(ngModel)]="subField.dependentKeyValue"
                aria-label="Dependent Value"
                ngbTooltip="The value of '{{ field.key }}' that triggers this subfield"
              >
                <option [value]="true">True</option>
                <option [value]="false">False</option>
              </select>
            } @else {
              @let type = field.dataType === 'integer' ? 'number' : field.dataType;
              <input
                class="form-control font-monospace"
                [type]="type"
                [(ngModel)]="subField.dependentKeyValue"
                [placeholder]="field.dataType"
                aria-label="Dependent Value"
                ngbTooltip="The value of '{{ field.key }}' that triggers this subfield"
              />
            }
          </div>
          <div class="col-auto">
            show field with key
          </div>
          <div class="col">
            <input
              class="form-control font-monospace"
              placeholder="Key"
              [(ngModel)]="subField.key"
              aria-label="Key"
              ngbTooltip="The key of this subfield"
            />
          </div>
          <div class="col-auto">
            titled
          </div>
          <div class="col">
            <input
              class="form-control"
              placeholder="Title"
              [(ngModel)]="subField.title"
              aria-label="Title"
              ngbTooltip="The title of this subfield"
            />
          </div>
          <div class="col-auto">
            <button
              class="btn m-0 p-0 btn-link text-secondary bi-clipboard me-2"
              ngbTooltip="Copy Subfield"
              aria-label="Copy Subfield"
              (click)="copySubfield(subField)"
            ></button>
            <a
              class="btn m-0 p-0 btn-link bi-pencil me-2"
              ngbTooltip="Edit Subfield"
              aria-label="Edit Subfield"
              [routerLink]="['..', subField.key]"
            ></a>
            <div
              class="btn m-0 p-0 btn-link text-secondary bi-grip-vertical me-2"
              cdkDragHandle
              ngbTooltip="Drag to Reorder"
              aria-label="Drag to Reorder"
            ></div>
            <button
              class="btn m-0 p-0 btn-link text-danger bi-trash"
              ngbTooltip="Remove Subfield"
              aria-label="Remove Subfield"
              (click)="removeSubfield($index)"
            ></button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="list-group-item text-muted">
        No subfields.
      </div>
    }
  </div>
</div>
