<div class="container">
  <h1>
    Edit Field: {{ field.title }}
  </h1>
  <h2>
    Basic Information
  </h2>
  <app-form [typeSchema]="metaSchema" [formData]="{data: field}" (saved)="save()"></app-form>
  <h2>
    Validation
    <i class="small bi-info-circle" ngbTooltip="About Validation" [ngbPopover]="popup" popoverTitle="About Validation"></i>
  </h2>
  <ng-template #popup>
    <dl>
      <dt>Message</dt>
      <dd>
        Validation messages are displayed when the condition is met.
      </dd>
      <dt>Severity</dt>
      <dd>
        The severity (error or warning) determines how the color of the message and whether the form is considered valid.
      </dd>
      <dt>Conditions</dt>
      <dd>
        Conditions are written in Jexl, a simple expression language.
        You can refer to any field in the form by its key.
        <br>
        <a class="bi-info-circle me-2" target="_blank" href="https://github.com/TomFrost/Jexl#all-the-details">
          Learn more
        </a>
      </dd>
      <dt>
        Example
      </dt>
      <dd>
        To display an error message when a field named <code>year</code> is before 1900:
        <ul>
          <li>Severity: Error</li>
          <li>Condition: <code>year < 1900</code></li>
          <li>Message: Year must be after 1900</li>
        </ul>
    </dl>
  </ng-template>
  <div class="list-group mb-3">
    @for (validation of field.validations; track validation) {
      <div class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <label class="visually-hidden">Severity</label>
            <select class="form-select" ngbTooltip="The severity of the validation" [(ngModel)]="validation.level">
              <option value="error">Error</option>
              <option value="warning">Warning</option>
            </select>
          </div>
          <div class="col-5">
            <label class="visually-hidden">Condition</label>
            <input class="form-control font-monospace" [(ngModel)]="validation['if']" ngbTooltip="The condition that must be met for the validation to be triggered."/>
          </div>
          <div class="col-5">
            <label class="visually-hidden">Message</label>
            <input class="form-control" [(ngModel)]="validation.message" ngbTooltip="The message to display if the validation is triggered."/>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger bi-trash" ngbTooltip="Remove Validation" (click)="removeValidation($index)"></button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="list-group-item text-muted">
        No validations.
      </div>
    }
  </div>
  <button class="btn btn-success bi-plus-lg" (click)="addValidation()">
    Add Validation
  </button>
  <h2 class="mt-3">
    Subfields
  </h2>
  <div class="list-group mb-3" cdkDropList (cdkDropListDropped)="dropSubfield($event)">
    @for (subField of field.inputList; track subField) {
      <div class="list-group-item" cdkDrag>
        <div class="row">
          <div class="col">
            <label class="visually-hidden">Dependent Value</label>
            <input class="form-control font-monospace" placeholder="Dependent Value" [(ngModel)]="subField.dependentKeyValue" [ngbTooltip]="'The value of ' + field.key + ' that triggers this subfield'"/>
          </div>
          <div class="col">
            <label class="visually-hidden">Key</label>
            <input class="form-control font-monospace" placeholder="Key" [(ngModel)]="subField.key" [ngbTooltip]="'The key of this subfield'"/>
          </div>
          <div class="col">
            <label class="visually-hidden">Title</label>
            <input class="form-control" placeholder="Title" [(ngModel)]="subField.title" [ngbTooltip]="'The title of this subfield'"/>
          </div>
          <div class="col-auto">
            <a class="btn btn-primary bi-pencil me-2" ngbTooltip="Edit Subfield" [routerLink]="['..', subField.key]"></a>
            <div class="btn btn-secondary bi-grip-vertical me-2" cdkDragHandle ngbTooltip="Drag to Reorder"></div>
            <button class="btn btn-danger bi-trash" ngbTooltip="Remove Subfield" (click)="removeSubfield($index)"></button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="list-group-item text-muted">
        No subfields.
      </div>
    }
  </div>
  <button class="btn btn-success bi-plus-lg" (click)="addSubfield()">
    Add Subfield
  </button>
</div>
