<div ngbDropdown class="d-inline-block">
  <button type="button" class="btn btn-link bi-three-dots" id="dropdown-audit" ngbDropdownToggle>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdown-audit">
    <a ngbDropdownItem class="bi-file-earmark-richtext" [routerLink]="['/audits', audit?.auditId, 'report']">
      Generate Report
    </a>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem class="bi-pencil-square" (click)="rename()">
      Rename
    </button>
    @if ((authService.currentLoginUser?.role?.role === 'admin' || authService.currentLoginUser?.role?.role === 'superAdmin') && audit?.user?.role?.role !== 'guest') {
      <button ngbDropdownItem class="bi-person-plus" (click)="openAddDataCollectorModal()">
        Add DataCollector
      </button>
    }
    @if (authService.currentLoginUser?.role?.role !== 'dataCollector' || (audit?.user?.role?.role !== 'admin' && audit?.user?.role?.role !== 'superAdmin')) {
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="text-danger bi-trash" (click)="delete()">
        Delete
      </button>
    }
  </div>
</div>
