<div>
  <div class="row">
  <h1 class="col">
    
    <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
    {{ equipmentService.equipmentSubTypeData?.name | titlecase }}
    <span class="text-muted small">
      {{ equipmentService.equipmentSubTypeData?.type ? equipmentService.equipmentSubTypeData?.type?.name : equipmentService.equipmentSubTypeData?.typeChild?.name | titlecase }}
    </span>
    <!-- <a class="btn btn-primary ms-2 bi-camera" [href]="'ccam://camera/' + project?.id | safe:'url'"
       (click)="startCapture(); modalService.open(tagModal, {ariaLabelledBy: 'tag-modal-title'})">
      Capture Photo
    </a> -->
  </h1>

  <div class="col my-3" style="text-align: right; padding-right: 25px;">
    <a class="btn btn-primary text-white" (click)="captureDialog()" style="margin-right: 5px;">Capture</a>
  </div>
</div>



<div class="my-2">

  <p style="margin-bottom:0px">Equipment Progress = {{auditService.equipmentRemainingFields}} / {{auditService.equipmentTotalFields}} </p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style]="'width: '+auditService.progressPercentageEquipment">{{auditService.progressPercentageEquipment}}</div>
  </div>
</div>

  <app-form #form></app-form>
</div>
