<div class="list-group rounded-0">
  <button *ngIf="!type.subTypes"
          class="list-group-item list-group-item-action text-success" (click)="createType(type)">
    New {{ type.name }}
  </button>
  <button *ngFor="let subType of type.subTypes"
          class="list-group-item list-group-item-action text-success" (click)="createType(type, subType)">
    New {{ subType.name }}
  </button>
  <a *ngFor="let item of types"
     class="list-group-item list-group-item-action"
     [routerLink]="[routerLink + item.id]"
     routerLinkActive="active text-white"
  >
    {{item.name}}
    <i class="bi-pencil" (click)="rename(item); $event.preventDefault(); $event.stopPropagation()"></i>
    <small class="text-muted">{{item.subtype}}</small>
  </a>
</div>
