<h1 class="col">
  <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
  {{ equipmentService.equipmentSubTypeData?.name | titlecase }}
  <span class="text-muted small">
    {{ equipmentService.equipmentSubTypeData?.type ? equipmentService.equipmentSubTypeData?.type?.name : equipmentService.equipmentSubTypeData?.typeChild?.name | titlecase }}
  </span>
</h1>

<app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>

<div class="mb-3">
  Equipment Progress: {{ auditService.currentProgress?.completedFields }} / {{ auditService.currentProgress?.totalFields }}
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width.%]="auditService.currentProgress?.percentage">
      {{ auditService.currentProgress?.percentage }} %
    </div>
  </div>
</div>

<app-form formType="equipmentForm"></app-form>
