<h1 class="col">
  <a class="bi-chevron-left d-lg-none" routerLink=".."></a>
  {{ equipmentService.equipmentSubTypeData?.name | titlecase }}
  <span class="text-muted small">
    {{ equipmentService.equipmentSubTypeData?.type ? equipmentService.equipmentSubTypeData?.type?.name : equipmentService.equipmentSubTypeData?.typeChild?.name | titlecase }}
  </span>
</h1>

<app-photo-capture (photoUploaded)="uploadPhoto($event)"></app-photo-capture>

@if (auditService.currentProgress) {
  <app-progress-bar class="mb-3" label="Equipment" [progress]="auditService.currentProgress"></app-progress-bar>
}

<app-form formType="equipmentForm"></app-form>
