<input
  type="search"
  class="form-control mb-3"
  [placeholder]="'Search ' + (zones?.length ?? 0) + ' zones'"
  [(ngModel)]="search"
/>
<button class="btn btn-outline-secondary bi-plus w-100 mb-3" (click)="createPrompt()">
  Add Zone
</button>
@if (zones) {
  @for (zone of zones | search:search:['zoneName']; track zone.zoneId) {
    <app-feature-card
      [title]="zone.zoneName"
      [routerLink]="['/audits', zone.auditId, 'zones', zone.zoneId]"
      routerLinkActive="active"
      [percentageQuery]="{progressType: 'zone', auditId: zone.auditId, zoneId: zone.zoneId}"
    >
      <div options style="z-index: 900">
        <app-zone-options-dropdown [zone]="zone" (click)="$event.stopImmediatePropagation(); $event.preventDefault()">
          <button ngbDropdownItem class="bi-copy" (click)="duplicate(zone)">
            Duplicate
          </button>
          <ng-container>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="text-danger bi-trash" (click)="delete(zone)">
              Delete
            </button>
          </ng-container>
        </app-zone-options-dropdown>
      </div>
    </app-feature-card>
  } @empty {
    <div class="text-center">
      No zones yet.
    </div>
  }
} @else {
  <app-list-placeholder></app-list-placeholder>
}
