<app-master-detail>
  <div header class="d-flex align-items-center justify-content-between bg-dark text-light">
    <a class="btn btn-link bi-chevron-left" routerLink=".."></a>
    <div class="bi-dice-4 px-3">
      Zones
    </div>
    <div class="btn btn-link bi-three-dots disabled"></div>
  </div>
  <app-zone-list list></app-zone-list>
  <div default class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h2>
      Please select an zone to continue.
    </h2>
    <h5>
      Or go back to the <a routerLink="..">{{audit?.auditName | titlecase}}</a> audit.
    </h5>
  </div>
</app-master-detail>
