<div class="list-group rounded-0">
  <button class="list-group-item list-group-item-action text-success" (click)="createZone()">
    New Zone
  </button>
  <a *ngFor="let keyValue of audit.zone | keyvalue"
     class="list-group-item list-group-item-action"
     [routerLink]="[routerPrefix + keyValue.value.id]" routerLinkActive="active"
  >
    {{keyValue.value.name}}
    <i class="bi-pencil" (click)="rename(keyValue.value); $event.preventDefault(); $event.stopPropagation()"></i>
    <i class="bi-trash" (click)="delete(keyValue.value); $event.preventDefault(); $event.stopPropagation()"></i>
  </a>
</div>
