<div class="row no-gutters">
  <div class="col-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Audits</li>
      </ol>
    </nav>
    <div class="list-group rounded-0">
      <a *ngFor="let audit of audits"
         class="list-group-item list-group-item-action"
         [routerLink]="['/audits', audit.auditId]" routerLinkActive="active text-white"
      >
        {{audit.name}}
      </a>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
