<div ngbAccordion>
  @for (auditGroup of auditsGrouped; track auditGroup; let i = $index) {
    <div ngbAccordionItem id="{{ 'auditPanel' + i }}">
      <h2 ngbAccordionHeader>
        {{ auditGroup.auditName | titlecase }}
        @if (authService.currentLoginUser?.role?.role === 'superAdmin') {
          @for (audit of auditGroup.audits; track audit) {
            <div>
              &nbsp;
              ({{ audit.admin_name| titlecase }})
            </div>
          }
        }
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody class="mb-3">
          <div class="label marked-rows" style="color : white">
            @if (authService.currentLoginUser?.role?.role === 'superAdmin') {
              @for (audit of auditGroup.audits; track audit) {
                <ul>
                  @for (dataCollector of audit.data_collectors; track dataCollector) {
                    <li>
                      {{ dataCollector | titlecase }}
                    </li>
                  }
                </ul>
              }
            }
            @if (authService.currentLoginUser?.role?.role === 'admin') {
              <ul>
                @for (audit of auditGroup.audits; track audit) {
                  <li>
                    {{ audit.assignedTo | titlecase }}
                  </li>
                }
              </ul>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
