<div ngbAccordion>
  <div ngbAccordionItem *ngFor="let auditGroup of auditsGrouped; let i = index" id="{{ 'auditPanel' + i }}">
    <h2 ngbAccordionHeader>
      {{ auditGroup.auditName | titlecase }}
      <div *ngIf="authService.currentLoginUser?.role?.role === 'superAdmin'">
        <div *ngFor="let audit of auditGroup.audits">
           &nbsp;
           ({{ audit.admin_name| titlecase }})
        </div>
      </div>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="mb-3">
        <div class="label marked-rows" style="color : white">
          <div *ngIf="authService.currentLoginUser?.role?.role === 'superAdmin'">
            <div *ngFor="let audit of auditGroup.audits">
            <ul>
              <li *ngFor="let dataCollector of audit.data_collectors">
                {{ dataCollector | titlecase }}
              </li>
            </ul>
          </div>
        </div>
          <div *ngIf="authService.currentLoginUser?.role?.role === 'admin'">
            <ul>
              <li *ngFor="let audit of auditGroup.audits">
                {{ audit.assignedTo | titlecase}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
